
<?php OpenTable() ?>
<h1><?php echo $this->title ?></h1>

<?php if ($this->pageview ): ?>
  <div class="txtright">
    <?php echo $this->pageview ?>
    </div>
<?php endif; /*pageview*/ ?>

<?php if ($this->story_list ): ?>

  <div class="mx-g">
    <?php foreach ($this->story_list  as $row): ?>
    <div class="mx-u-1-8">
        <strong><?php echo mx_strftime(_SHORTDATESTRING, $row['tstamp']) ?></strong>
    </div>
    <div class="mx-u-7-8">
        <h2 class="h4-like"><?php echo $row['title'] ?></h2>
        <p><?php echo $row['hometext'] ?></p>
        
    </div>
    <?php endforeach ?>
  </div>

  <?php if ($this->pageview ): ?>
  <div class="txtright">
    <?php echo $this->pageview ?>
  </div>
  <?php endif; /*pageview*/ ?>

  <?php endif; /*story_list*/ ?>

  <?php if ($this->month_list ): ?>
  <hr />
    <p><?php echo _SELECTMONTH2VIEW ?></p>
  <?php foreach($this->month_list  as $year => $data): ?>
  <div class="fl w20">
    <h3><a href="<?php echo $data['link'] ?>"><?php echo $year ?></a></h3>
    <ul>
      <?php foreach($data['months'] as $month): ?>
      <li class="nowrap">
      <?php if($month['count']): ?>
        <a href="<?php echo $month['link'] ?>"><?php echo $month['name'] ?></a>
      <?php else: ?>
        <?php echo $month['name'] ?>
      <?php endif; ?>
      <span class="tiny">(<?php echo $month['count'] ?>)</span></li>
      <?php endforeach ?>
    </ul>
  </div>
  <?php endforeach ?>
  <br class="clear" />
<?php endif; /* month_list */?>

<?php if(mxModuleAllowed('Search') && mxModuleAllowed('News')): ?>
  <hr />
    <form action="modules.php?name=Search" method="post">
      <input type="hidden" name="name" value="Search" />
      <input type="hidden" name="m" value="News" />
      <p align="center"><label for="query"><?php echo _SEARCHARTICLE ?></label>
      <input type="text" name="q" size="30" />
      <input type="submit" value="<?php echo _SEARCH ?>" />
      </p>
    </form>
<?php endif ?>

<p class="txtcenter">[ 
<?php if(!$this->is_home): ?>
  <a href="modules.php?name=<?php echo $this->module_name ?>"><?php echo _ARCHIVESINDEX ?></a> | 
<?php endif ?>
  <a href="modules.php?name=<?php echo $this->module_name ?>&amp;show_all=yes"><?php echo _SHOWALLSTORIES ?></a>
]</p>

<?php CloseTable() ?>
