
<h2><?php echo _BLOCKSADMIN ?></h2>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#block-list" role="tab"><?php echo _BLOCKS_INSTALLEDLIST ?></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#block-new-file" role="tab"><?php echo _ADDNEWBLOCK . ' ' . _BLOCKFILE?></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#block-new-html" role="tab"><?php echo _ADDNEWBLOCK . ' (HTML)' ?></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#block-new-rss" role="tab"><?php echo _ADDNEWBLOCK . ' ' . _RSSCONTENT ?></a>
  </li>
</ul> <!-- end:.nav nav-tabs -->


<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="block-list" role="tabpanel">
    <?php echo blockslistall() ?>
  </div> <!-- end:.tab-pane #block-list -->

  <div class="tab-pane" id="block-new-file" role="tabpanel">
    <?php echo blockaddform('file') ?>
  </div> <!-- end:.tab-pane #block-new-file -->

  <div class="tab-pane" id="block-new-html" role="tabpanel">
    <?php echo blockaddform('html') ?>
  </div> <!-- end:.tab-pane #block-new-html -->

  <div class="tab-pane" id="block-new-rss" role="tabpanel">
    <?php echo blockaddform('rss') ?>
  </div> <!-- end:.tab-pane #block-new-rss -->
</div>

<?php
/* Javascript & jquery for tabs */
pmxHeader::add_tabs(false);
/* pragmaMx CVS $Id: blocksadmin.html 6 2015-07-08 07:07:06Z PragmaMx $ */
?>