<div class="tab-pane" role="tabpanel">
  <form action="<?php echo adminUrl(PMX_MODULE) ?>" method="post">

<div class="container">

          <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label"><?php echo _BLOCKTITLE ?></label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="title" name="title" size="12" />
            </div>
          </div>

          <?php switch($this->mode):
          case 'file': ?>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><?php echo _FILENAME ?></label>
            <div class="col-sm-5">
              <?php echo getblockfileselect() ?>
            </div>
          </div>

          <?php break;
          case 'rss': ?>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><?php echo _RSSFILE ?></label>
            <div class="col-sm-5">
              <?php echo getheadlineselect() ?>
            </div>
          </div>

          <?php break;
          case 'html': default:?>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><?php echo _CONTENT ?></label>
            <div class="col-sm-10">
              <?php echo $this->formWysiwyg('b_content', $this->content, array('height'=>'250')) ?>
            </div>
          </div>

          <?php break;
          endswitch;?>

          <div class="form-group row">
            <label for="position" class="col-sm-2 col-form-label"><?php echo _POSITION ?></label>
            <div class="col-sm-3">
              <?php echo getPositionSelect('l') ?>
            </div>
          </div>

          <div class="form-group row">
            <label for="weight" class="col-sm-2 col-form-label"><?php echo _WEIGHT ?></label>
            <div class="col-sm-1">
              <input type="text" id="weight" class="form-control" name="weight" size="12" value="0" />
            </div>
          </div>

          <?php if($this->multilingual): ?>

          <div class="form-group row">
            <label for="language" class="col-sm-2 col-form-label"><?php echo _LANGUAGE ?></label>
            <div class="col-sm-10">
              <?php echo mxLanguageSelect('blanguage', '', 'language', true) ?>
            </div>
          </div>

          <?php endif; ?>

          <div class="form-group row">
            <label for="active" class="col-sm-2 col-form-label"><?php echo _ACTIVATE2 ?></label>
            <div class="col-sm-10">
              <?php echo getActiveSelect(1) ?>
            </div>
          </div>

          <div class="form-group row">
            <label for="view" class="col-sm-2 col-form-label"><?php echo _VIEWPRIV ?></label>
            <div class="col-sm-3">
              <?php echo getViewSelect(0) ?>
            </div>
          </div>

          <div class="form-group row">
            <label for="group" class="col-sm-2 col-form-label"><!-- <?php echo _VIEWPRIV ?> --></label>
            <div class="col-sm-3">
              <?php echo $this->groupselect ?>
            </div>
          </div>

          <?php switch($this->mode):
          case 'rss': ?>

          <div class="form-group row">
            <label for="refresh" class="col-sm-2 col-form-label"><?php echo _REFRESHTIME ?></label>
            <div class="col-sm-2">
              <?php echo getRefreshSelect(3600, 0) ?>
            </div>
          </div>

          <?php break;
          case 'file': ?>

          <div class="form-group row">
            <label for="refresh" class="col-sm-2 col-form-label"><?php echo _CACHING ?></label>
            <div class="col-sm-2">
              <?php echo getRefreshSelect(0, 1) ?>
            </div>
            <div class="col-sm-2">
              <p class="help-block text-muted small"><?php echo _BLOCKCACHEMSG ?></p>
            </div>
          </div>

          <?php break;
          endswitch;?>

          <?php if(!$this->multilingual): ?>
          <input type="hidden" name="blanguage" value="" />
          <?php endif ?>

          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
          <input type="hidden" name="op" value="<?php echo  PMX_MODULE ?>/Add" />
          <button type="submit" class="btn btn-primary"><i class="fa fa-plus fa-lg"></i>&nbsp;<?php echo _CREATEBLOCK ?></button> 
          </div> <!-- end:.offset-sm-2 -->
          </div> <!-- end:.form-group -->



</div> <!-- end:.container -->
  </form> <!-- end:form -->
</div> <!-- end:.tab-pane -->

<?php
/* pragmaMx CVS $Id: blockaddform.html 6 2015-07-08 07:07:06Z PragmaMx $ */
?>
