<ul class="nav nav-pills mt-1 mb-1">
<?php foreach ($this->filterlink as $link) : ?>
  <li class="nav-item"><?php echo $link ?></li>
<?php endforeach ?>
</ul>

<?php if(!$this->countblocks): ?>
<div class="alert alert-info text-center">
  <?php echo _BLOCKNOBLOCKS ?>
</div>
<?php return;
endif;

$class = '';

$colspan = ($this->multilingual) ? 7 : 6;

?>

<form action="<?php echo adminUrl(PMX_MODULE) ?>" method="post">
  <input type="hidden" name="op" value="<?php echo  PMX_MODULE ?>/ListWeigth" />

  <table class="table">
  <?php foreach ($this->blocks as $pos => $thatblockpos) : ?>
       <tr>
        <th colspan="<?php echo $colspan ?>">
            <span class="text-uppercase badge badge-secondary"><?php echo $pos ?></span>
        </th>
       </tr>
      <tr>
        <th class="text-uppercase"><?php echo _BLOCKORDER ?></th>
        <th class="text-uppercase"><?php echo _BLOCKTITLE ?></th>
        <th class="text-uppercase"><?php echo _TYPE . ' &gt; ' . _BLK_MODULE . ' &gt; ' . _FILENAME ?></th>
        <th class="text-uppercase"><?php echo _STATUS ?></th>
        <th class="text-uppercase"><?php echo _VIEW ?></th>
        <?php if($this->multilingual): ?>
        <th class="text-uppercase"><?php echo _LANGUAGE ?></th>
        <?php endif; ?>
        <th class="text-uppercase"><?php echo _FUNCTIONS ?></th>
      </tr>
    <?php foreach ($thatblockpos as $weight => $block) : ?>
      <?php $errclass = ($block->errfile) ? ' class="badge badge-warning" title="' . _BLOCKFILEMISSED . '"' : ''; ?>
    <tr>
      <td><input type="text" class="form-control" name="weight[<?php echo $block->bid ?>]" value="<?php echo ($weight + 1) ?>" size="3" maxlength="3" /></td>
      <td><?php echo $block->title ?></td>
      <td><?php echo $block->type ?></td>
      <td><?php echo (($block->active) ? '<span class="badge badge-success">' . _ACTIVE . '</span>' : '<span class="badge badge-secondary">' . _INACTIVE . '</span>') ?></td>
      <td><?php echo $block->who_view ?></td>
      <?php if($this->multilingual): ?>
      <td><?php echo $block->blanguage ?></td>
      <?php endif; ?>
      <td>
        <div <?php echo $errclass ?>>
        <?php foreach ($block->functions as $key => $item) : ?>
          <?php echo $item ?>
        <?php endforeach ?>
        </div>
      </td>
    </tr>
    <?php endforeach ?>
  <?php endforeach ?>
  </table>
  <p>
    <button type="submit" class="btn btn-primary"><i class="fa fa-check fa-lg"></i>&nbsp;<?php echo _BLOCKSAVEORDER ?></button>
  </p>
</form>

<p>
  <a class="btn btn-sm btn-secondary" href="<?php echo adminUrl(PMX_MODULE, 'fixweight') ?>"><i class="fa fa-arrows-v fa-lg"></i>&nbsp;<?php echo _FIXBLOCKS ?></a> 
  <a class="btn btn-sm btn-secondary" href="<?php echo adminUrl('reset', 'cache/blocks') ?>"><i class="fa fa-refresh fa-lg"></i>&nbsp;<?php echo _BLOCKDELCACHE ?></a>
</p>