
<!-- START:BLOC CARD -->
<div class="row">
<div class="col-lg-12">
<div class="card">
<div class="card-header">
 <i class="fa fa-view"></i> <?php echo _BLOCKPREVIEW ?> "<b><?php echo $this->block['title'] ?></b>"  
</div> <!-- end:.card-header -->

<div class="card-block">
<?php render_blocks($this->block) ?>
</div> <!-- end:.card-block -->

</div> <!-- end:.card -->
</div> <!-- end:.col-lg-12 -->
</div> <!-- end:.row -->
<!-- END:BLOC CARD -->

<?php
/* pragmaMx CVS $Id: showpreview.html 6 2015-07-08 07:07:06Z PragmaMx $ */
?>