<div class="row">

  <div class="col-sm-6 col-lg-4">

    <?php if ($this->newentries) {?>
    <div class="card">
      <div class="card-block">
        <h3><?php echo _NEWSUBMISSIONS ?></h3>
        <ul class="infolist align-left">
        <?php foreach ($this->newentries as $entry) {?>
          <li class="nowrap"><b><?php echo intval($entry['count']) ?></b> <a href="<?php echo $entry['link'] ?>"><?php echo $entry['text'] ?></a></li>
        <?php }?>
        </ul>
      </div>
    </div>
    <?php }else {?>
    <div class="card text-center">
      <div class="card-block">
          <p class="text-uppercase font-weight-bold"><?php echo _NOSUBMISSIONS ?></p>
      </div>
    </div>
    <?php }?>
  
  <?php  if ($this->show_pragmamx_news) {
      $url = adminUrl('main', 'infonews', rand(), false, '&');
      ?>
    <div class="card">
      <h3 class="card-header">
        <?php echo _PRAGMANEWS ?>
      </h3>
      <div class="card-block">
        <div id="showpragmamxnews" style="width: auto;overflow: auto; max-height: 10em">
          <a href="<?php echo $this->show_pragmamx_news_url ?>" target="_blank" class="tiny"><?php echo _SHOWPRAGMANEWS ?></a>
        </div>
    <script type="text/javascript">
    /*<![CDATA[*/
      $(document).ready(function(){
        $.get("<?php echo $url ?>", function(data){
          $('#showpragmamxnews').html(data);
        });
      });
    /*]]>*/
    </script>
    </div>
  <?php }else {?>
    <p class="box">
      <a href="<?php echo $this->show_pragmamx_news_url ?>" target="_blank"><strong><?php echo _SHOWPRAGMANEWS ?></strong></a>
    </p>
  <?php }?>
  </div>
  </div><!-- /col -->

    <?php if ($this->falsechmods) {?>
    <div class="col-sm-6 col-lg-4">
    <div class="card card-inverse card-danger">
      <div class="card-block">
          <p class="font-weight-bold"><?php echo _FALSECHMODS1 ?></p>
          <ul class="list-unstyled">
          <?php foreach ($this->falsechmods as $key => $file) {?>
            <li><?php echo $file ?></li>
          <?php }?>
          </ul>
      </div>
    </div>
    </div>
    <?php } ?>

  <div class="col-sm-6 col-lg-3">
    <div class="card card-inverse card-info">
      <div class="card-block">
        <dl>
          <dt><?php echo _VERSION_CMS ?>:</dt>
          <dd>pragmaMx <?php echo PMX_VERSION_NUM ?> (<?php echo PMX_VERSION_DATE ?>)</dd>
          <dt><?php echo _VERSION_PHP ?>:</dt>
          <dd><?php echo phpversion() ?>
          <?php if (mxGetAdminPref('radminsuper')) {?>
          &nbsp;&nbsp;<span class="badge badge-pill badge-default"><a title="PHP-Info" href="<?php echo adminUrl('phpinfo') ?>">PHP-INFO</a></span>
          <?php }?>
          </dd>
          <dt><?php echo _VERSION_MYSQL ?>:</dt>
          <dd><?php echo MX_SQL_VERSION ?></dd>
          <dt><?php echo _VERSION_SERVER ?>:</dt>
          <dd><?php echo $_SERVER['SERVER_SOFTWARE'] ?></dd>
          <dt><?php echo _VERSION_JQUERY ?>:</dt>
          <dd><?php echo MX_JQUERY_VERSION ?></dd>	
        </dl>
      </div>
      </div>
    </div><!-- /col -->

</div><!-- /row -->