<h2><?php echo _CAPTCHATITLE ?></h2>

<?php if ($this->check !== true) { ?>
<div class="alert alert-warning">
    <h4><?php echo _CAPTCHAERR ?></h4>
    <p><?php echo $this->check ?></p>
</div>
<?php  } ?>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a  class="nav-link active" data-toggle="tab" href="#captcha-1" role="tab"><?php echo _CAPTCHASETTINGS ?></a>
  </li>
  <li class="nav-item">
    <a  class="nav-link" data-toggle="tab" href="#captcha-2" role="tab"><?php echo _CAPTCHASETTINGS2 ?></a>
  </li>
</ul>

<div class="tab-content py-1">

  <div class="tab-pane active" id="captcha-1" role="tabpanel">
   <form action="<?php echo adminUrl(PMX_MODULE) ?>" method="post">

    <div class="container">


    <div class="card">
      <div class="card-block text-center">
        <div class="text-muted small text-uppercase font-weight-bold"><?php echo _CAPTCHASAMPLE ?></div>
        <div class="h2 py-1"><?php echo $this->captcha_object->image() ?></div>
        <div class="chart-wrapper">
         <div class="mt-10"><?php echo $this->captcha_object->reloadbutton() ?></div>
        </div>
      </div>
    </div>

          <div class="form-group row">
            <label for="imagewidth" class="col-sm-2 col-form-label"><?php echo _CAPTCHAIMAGEWIDTH ?></label>
            <div class="col-sm-1">
              <input type="text" class="form-control" id="imagewidth" name="imagewidth" size="12" placeholder="<?php echo $this->imagewidth ?>" />
            </div>
          </div>

          <div class="form-group row">
            <label for="imageheight" class="col-sm-2 col-form-label"><?php echo _CAPTCHAIMAGEHEIGHT ?></label>
            <div class="col-sm-1">
              <input type="text" class="form-control" id="imageheight" name="imageheight" size="12" placeholder="<?php echo $this->imageheight ?>" />
            </div>
          </div>

          <div class="form-group row">
            <label for="passphraselenght" class="col-sm-2 col-form-label"><?php echo _CAPTCHAPASSPHRASELENGHT ?></label>
            <div class="col-sm-1">
              <input type="text" class="form-control" id="passphraselenght" name="passphraselenght" size="12" placeholder="<?php echo $this->passphraselenght ?>" />
            </div>
          </div>

          <div class="form-group row">
            <label for="charstouse" class="col-sm-2 col-form-label"><?php echo _CAPTCHACHARSTOUSE ?></label>
            <div class="col-sm-3">
              <textarea class="form-control" id="charstouse" name="charstouse" cols="30" rows="4"><?php echo chunk_split($this->charstouse, 25) ?></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><?php echo _CAPTCHACHARCASESEN ?></label>
            <div class="col-sm-3">
              <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="1"<?php echo ($this->casesensitive) ? ' checked="checked"' : '' ?> name="casesensitive" /> <?php echo _YES ?>
                  </label>
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="0"<?php echo ($this->casesensitive) ? '' : ' checked="checked"' ?> name="casesensitive" /> <?php echo _NO ?>
                  </label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="fontsize" class="col-sm-2 col-form-label"><?php echo _CAPTCHAFONTSIZE ?></label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="fontsize" name="fontsize" size="12" placeholder="<?php echo $this->fontsize ?>" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><?php echo _CAPTCHARANDOMCOLOR ?></label>
            <div class="col-sm-3">
              <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="1"<?php echo ($this->useRandomColors) ? ' checked="checked"' : '' ?> name="useRandomColors" /> <?php echo _YES ?>
                  </label>
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="0"<?php echo ($this->useRandomColors) ? '' : ' checked="checked"' ?> name="useRandomColors" /> <?php echo _NO ?>
                  </label>
              </div>
            </div>
          </div>


          <div class="form-group row">
            <label for="angle" class="col-sm-2 col-form-label"><?php echo _CAPTCHAANGLE ?></label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="angle"  name="angle" size="12" placeholder="<?php echo $this->angle ?>" />
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><?php echo _CAPTCHAFILTER ?></label>
            <div class="col-sm-3">
              <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="1"<?php echo ($this->filter) ? ' checked="checked"' : '' ?> name="filter" /> <?php echo _YES ?>
                  </label>
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="0"<?php echo ($this->filter) ? '' : ' checked="checked"' ?> name="filter" /> <?php echo _NO ?>
                  </label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="bgintensity" class="col-sm-2 col-form-label"><?php echo _CAPTCHABGINTENSITY ?></label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="bgintensity"  name="bgintensity" size="12" placeholder="<?php echo $this->bgintensity ?>" />
            </div>
          </div>

          <div class="form-group row">
            <label for="bgfonttype" class="col-sm-2 col-form-label"><?php echo _CAPTCHABGFONTTYPE ?></label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="bgfonttype"  name="bgfonttype" placeholder="<?php echo $this->bgfonttype ?>" />
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><?php echo _CAPTCHAFILTERTYPE ?></label>
            <div class="col-sm-3">
              <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="filtertype">
                <option <?php echo ($this->filtertype == 'Wavy') ? ' selected="selected" class="current"' : '' ?> value="Wavy">Wavy</option>
                <option <?php echo ($this->filtertype == 'Bubbly') ? ' selected="selected" class="current"' : '' ?> value="Bubbly">Bubbly</option>
                <option <?php echo ($this->filtertype == 'Breaktype') ? ' selected="selected" class="current"' : '' ?> value="Breaktype">Breaktype</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><?php echo _CAPTCHAADDHORLINES ?></label>
            <div class="col-sm-3">
              <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" value="1"<?php echo ($this->addhorizontallines) ? ' checked="checked"' : '' ?> name="addhorizontallines" /> <?php echo _YES ?>
                  </label>
                  <label class="form-check-label">
                    <input type="radio" value="0"<?php echo ($this->addhorizontallines) ? '' : ' checked="checked"' ?> name="addhorizontallines" /> <?php echo _NO ?>
                  </label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><?php echo _CAPTCHASCRATCHES ?></label>
            <div class="col-sm-3">
              <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" value="1"<?php echo ($this->scratches) ? ' checked="checked"' : '' ?> name="scratches" /> <?php echo _YES ?>
                  </label>
                  <label class="form-check-label">
                     <input type="radio" value="0"<?php echo ($this->scratches) ? '' : ' checked="checked"' ?> name="scratches" /> <?php echo _NO ?>
                  </label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="scratchamount" class="col-sm-2 col-form-label"><?php echo _CAPTCHASCRATCHAMOUNT ?></label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="scratchamount"  name="scratchamount" size="12" placeholder="<?php echo $this->scratchamount ?>" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><?php echo _CAPTCHAADDAGRID ?></label>
            <div class="col-sm-3">
              <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" value="1"<?php echo ($this->addagrid) ? ' checked="checked"' : '' ?> name="addagrid" /> <?php echo _YES ?>
                  </label>
                  <label class="form-check-label">
                     <input type="radio" value="0"<?php echo ($this->addagrid) ? '' : ' checked="checked"' ?> name="addagrid" /> <?php echo _NO ?>
                  </label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="minsize" class="col-sm-2 col-form-label"><?php echo _CAPTCHAMINSIZE ?></label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="minsize"  name="minsize" size="12" placeholder="<?php echo $this->minsize ?>" />
            </div>
          </div>

    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <input type="hidden" name="op" value="<?php echo PMX_MODULE ?>/save" />
        <input type="submit" class="btn btn-primary" value="<?php echo _CAPTCHASAVESETTINGS ?>" />
        <input type="hidden" name="do_html_opt_reset" value="0" />
        <input type="checkbox" name="do_html_opt_reset" value="1" />&nbsp;<?php echo _CAPTCHASETRESET ?>
      </div>
    </div>



    </div><!--/ container -->
 </div><!-- / captcha-1 -->


  <div class="tab-pane" id="captcha-2" role="tabpanel">
     <div class="container">

          <div class="form-group row">
            <label class="col-sm-3 col-form-label"><?php echo _CAPTCHASESSION ?></label>
            <div class="col-sm-3">
              <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" value="1"<?php echo ($this->captchasession) ? ' checked="checked"' : '' ?> name="captchasession" /> <?php echo _YES ?>
                  </label>
                  <label class="form-check-label">
                     <input type="radio" value="0"<?php echo ($this->captchasession) ? '' : ' checked="checked"' ?> name="captchasession" /> <?php echo _NO ?>
                  </label>
              </div>
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-3 col-form-label"><?php echo _CAPTCHAUSERON ?></label>
            <div class="col-sm-3">
              <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" value="1"<?php echo ($this->captchauseron) ? ' checked="checked"' : '' ?> name="captchauseron" /> <?php echo _YES ?>
                  </label>
                  <label class="form-check-label">
                     <input type="radio" value="0"<?php echo ($this->captchauseron) ? '' : ' checked="checked"' ?> name="captchauseron" /> <?php echo _NO ?>
                  </label>
              </div>
            </div>
          </div>

          <h4 class="mb-2"><?php echo _CAPTCHAMODSET ?></h4>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><?php echo _CAPTCHACOMMENTSON ?></label>
            <div class="col-sm-3">
              <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" value="1"<?php echo ($this->commentson) ? ' checked="checked"' : '' ?> name="commentson" /> <?php echo _YES ?>
                  </label>
                  <label class="form-check-label">
                     <input type="radio" value="0"<?php echo ($this->commentson) ? '' : ' checked="checked"' ?> name="commentson" /> <?php echo _NO ?>
                  </label>
              </div>
            </div>
          </div>

      <?php foreach ($this->hookvars as $hook) {
          if (!$hook['hidden'])  { ?>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><?php echo $hook['caption'] ?></label>
            <div class="col-sm-3">
              <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" value="1"<?php echo ($hook['varname']) ? ' checked="checked"' : '' ?> name="<?php echo $hook['varname'] ?>" /> <?php echo _YES ?>
                  </label>
                  <label class="form-check-label">
                     <input type="radio" value="0"<?php echo ($hook['varname']) ? '' : ' checked="checked"' ?> name="<?php echo $hook['varname'] ?>" /> <?php echo _NO ?>
                  </label>
              </div>
            </div>
          </div>
      <?php } } //endforeach ?>
      <?php 
      $i = 0;
      foreach ($this->hookvars as $hook) {
          if ($hook['hidden'])  {
            $i++;
            if($i === 1){ ?>
      <p><?php echo _CAPTCHAMODHAVEOWN ?></p>
      <?php } //endif $i === 1 ?>
      <p><a href="<?php echo $hook['adminlink'] ?>"><?php echo $hook['caption'] ?></a></p>
      <?php } } //endforeach ?>
  


    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <input type="hidden" name="op" value="<?php echo PMX_MODULE ?>/save" />
        <input type="submit" class="btn btn-primary" value="<?php echo _CAPTCHASAVESETTINGS ?>" />
        <input type="hidden" name="do_html_opt_reset" value="0" />
        <input type="checkbox" name="do_html_opt_reset" value="1" />&nbsp;<?php echo _CAPTCHASETRESET ?>
      </div>
    </div> 


      </div><!-- /container -->
    </div><!-- /#captcha-2 -->

    </form>
  </div>
</div><!-- tab-content ->