<div class="tab-pane" id="captcha-2" role="tabpanel">
 <form action="<?php echo adminUrl(PMX_MODULE) ?>" method="post">
     <div class="container">

          <div class="form-group row">
            <label class="col-sm-3 form-control-label"><?php echo _CAPTCHASESSION ?></label>
            <div class="col-sm-3">
              <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" value="1"<?php echo ($this->captchasession) ? ' checked="checked"' : '' ?> name="captchasession" /> <?php echo _YES ?>
                  </label>
                  <label class="form-check-label">
                     <input type="radio" value="0"<?php echo ($this->captchasession) ? '' : ' checked="checked"' ?> name="captchasession" /> <?php echo _NO ?>
                  </label>
              </div>
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-3 form-control-label"><?php echo _CAPTCHAUSERON ?></label>
            <div class="col-sm-3">
              <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" value="1"<?php echo ($this->captchauseron) ? ' checked="checked"' : '' ?> name="captchauseron" /> <?php echo _YES ?>
                  </label>
                  <label class="form-check-label">
                     <input type="radio" value="0"<?php echo ($this->captchauseron) ? '' : ' checked="checked"' ?> name="captchauseron" /> <?php echo _NO ?>
                  </label>
              </div>
            </div>
          </div>

          <h4 class="mb-2"><?php echo _CAPTCHAMODSET ?></h4>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label"><?php echo _CAPTCHACOMMENTSON ?></label>
            <div class="col-sm-3">
              <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" value="1"<?php echo ($this->commentson) ? ' checked="checked"' : '' ?> name="commentson" /> <?php echo _YES ?>
                  </label>
                  <label class="form-check-label">
                     <input type="radio" value="0"<?php echo ($this->commentson) ? '' : ' checked="checked"' ?> name="commentson" /> <?php echo _NO ?>
                  </label>
              </div>
            </div>
          </div>

      <?php foreach ($this->hookvars as $hook) {
          if (!$hook['hidden'])  { ?>
          <div class="form-group row">
            <label class="col-sm-2 form-control-label"><?php echo $hook['caption'] ?></label>
            <div class="col-sm-3">
              <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" value="1"<?php echo ($hook['varname']) ? ' checked="checked"' : '' ?> name="<?php echo $hook['varname'] ?>" /> <?php echo _YES ?>
                  </label>
                  <label class="form-check-label">
                     <input type="radio" value="0"<?php echo ($hook['varname']) ? '' : ' checked="checked"' ?> name="<?php echo $hook['varname'] ?>" /> <?php echo _NO ?>
                  </label>
              </div>
            </div>
          </div>
      <?php } } //endforeach ?>
      <?php 
      $i = 0;
      foreach ($this->hookvars as $hook) {
          if ($hook['hidden'])  {
            $i++;
            if($i === 1){ ?>
      <p><?php echo _CAPTCHAMODHAVEOWN ?></p>
      <?php } //endif $i === 1 ?>
      <p><a href="<?php echo $hook['adminlink'] ?>"><?php echo $hook['caption'] ?></a></p>
      <?php } } //endforeach ?>
  


    <div class="form-group row">
      <div class="offset-sm-2 col-md-12">
        <input type="hidden" name="op" value="<?php echo PMX_MODULE ?>/save" />
        <button type="submit" class="btn btn-primary"><i class="fa fa-check fa-lg"></i>&nbsp;<?php echo _CAPTCHASAVESETTINGS ?></button>
        <input type="hidden" name="do_html_opt_reset" value="0" />       
        <p class="help-block"><input type="checkbox" name="do_html_opt_reset" value="1" />&nbsp;<?php echo _CAPTCHASETRESET ?></p>
      </div>
    </div>

      </div><!-- /container -->
	  </form>
    </div><!-- /#captcha-2 -->