@import url(bootstrap.css);

body {
  background-color: #2d2d2d;
  color: inherit;
}

h1, h2, h3 {
  background-color: transparent;
  color: inherit;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

div#inline-1 h3 {
  font-size: 2em;
  font-weight: bold;
  line-height: 200%;
  margin: 0;
}

.wrap {
  background-color: #ffffff;
  border: 10px solid #424242;
  border-radius: 10px;
  box-shadow: #000000 0 0 10px 0;
  color: inherit;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px;
}

div.header {
  border-bottom: 3px solid #8fab28;
  display: block;
  margin-bottom: 25px;
  padding-bottom: 20px;
  position: relative;
}

div.header a#logo {
  background: url("../images/logo.png") no-repeat 0 0;
  display: block;
  height: 66px;
  margin-left: 10px;
  text-indent: -9999px;
  width: 491px;
}

div.header h1 {
  background-color: #424242;
  border-radius: 6px;
  box-shadow: #000000 1px 1px 3px;
  color: #cecece;
  font-size: 20px;
  font-weight: normal;
  padding: 2px 10px;
  position: absolute;
  right: -25px;
  text-shadow: 0 -1px 0 #000000;
  top: -35px;
}

div.section {
  display: block;
  min-height: 400px;
}

div.section h2 {
  background-color: transparent;
  border-right: 1px solid #cccccc;
  color: #555555;
  font-size: 15px;
  padding: 8px;
  text-align: left;
}

#main-content .form-actions {
  background: none;
  border: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-right: 0;
}

div.footer {
  background-color: #424242;
  color: inherit;
  display: block;
  margin: 15px -20px -20px;
  padding-top: 15px;
}

div.footer p {
  background-color: transparent;
  color: #aaaaaa;
  font-size: 12px;
  margin: 0 0 0 20px;
  text-shadow: 0 -1px 0 #000000;
}

/*---------------------------------------------------------------
prettify
-----------------------------------------------------------------*/
.lit {
  background-color: transparent;
  color: #195f91;
}

.fun {
  background-color: transparent;
  color: #dc322f;
}

.str, .atv {
  background-color: transparent;
  color: #dd1144;
}

.kwd, .prettyprint .tag {
  background-color: transparent;
  color: #1e347b;
}

.typ, .atn, .dec, .var {
  background-color: transparent;
  color: #008080;
}

.pln {
  background-color: transparent;
  color: #48484c;
}

.prettyprint {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  color: inherit;
  padding: 8px;
}

.prettyprint.linenums {
  box-shadow: inset 40px 0 0 #fbfbfc inset 41px 0 0 #ececf0;
  -moz-box-shadow: inset 40px 0 0 #fbfbfc inset 41px 0 0 #ececf0;
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}

ol.linenums li {
  background-color: transparent;
  color: #bebec5;
  line-height: 20px;
  padding-left: 12px;
  text-shadow: 0 1px 0 #ffffff;
}

hr{
  background: #8fab28;
  border: #8fab28;
  color: #8fab28;
  height: 1px;
  margin: 1em 0;
}

/* Umgebungstest, äquivalent zu pmx-check.php */
ul{
  list-style: none;
  margin: 0 0 10px 40px;
  padding: 0;
}

.error .details{
  background-color: #f6f6f6;
  color: #bc0000;
}

.warning .details{
  background-color: #f6f6f6;
  color: #f89406;
}

.warning .details,.error .details{
  display: block;
  font-size: 13px;
  font-weight: 400;
  padding: 5px;
}

.warning span{
  background-color: #f89406;
  color: #ffffff;
}

.warning span,.error span,.ok span{
  border-radius: 3px;
  display: inline-block;
  margin: 2px 0;
  padding: 2px 4px;
}

#legend h3 {
  font-size: 16px;
  text-align: left;
}

#legend ul {
  margin: 0 0 10px 20px;
}

#legend ul li {
  margin: 0 0 1em;
}

#verdict{
  background-color: transparent;
  border-color: #000000;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  box-shadow: #ffffff 0 1px 0;
  color: #ffffff;
  font-size: 110%;
  margin: 10px 0 20px 0;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.com, .pun, .opn, .clo {
  background-color: transparent;
  color: #93a1a1;
}

.error span, #verdict.not_ok {
  background-color: #bc0000;
  color: #ffffff;
}

.ok span, #verdict.all_ok {
  background-color: #497c00;
  color: #ffffff;
}
