#pmx-content h1,
#pmx-content h2,
#pmx-content .title {
    margin: -24px -30px 25px;
    padding: 15px 0 15px 20px;
    background: #EBEBEB;
    border-bottom: 1px solid #D3D3D3;
    font-size: 2rem;
    font-weight: lighter;
}

/*              system
---------------------------------------*/
.tabs-nav{border-bottom-style:solid;border-bottom-width:1px;font-size:.95em;font-weight:bold;list-style-type:none;margin:1em 0 0 0;padding:0 1.1em 0 1.1em;position:relative;text-align:left;top:1px;}
.tabs-nav li{display:inline;font-size:1em;line-height:2.25em;margin:0;padding:0;position:relative;white-space:nowrap;}
.tabs-nav li a{font-size: 1.2em;background-color:#efefef;border-style:solid solid none solid;border-width:1px;bottom:0;color:#444444;display:inline-block;margin-right:0;margin-top:.2em;padding-left:.75em;padding-right:.75em;padding-top:0;position:relative;text-decoration:none;white-space:nowrap;}
.tabs-nav li a:hover,.tabs-nav li.current ul li a:hover{background-color:#e5e5e5;color:#4a4a4a;}
.tabs-nav li.current a,.tabs-nav li.tabs-active a,.tabs-nav li.active a{background-color:#fff;bottom:-2px;color:#666;margin-top:0;padding-top:.2em;box-shadow: 0 -2px 0 #20a8d8;}
.tabs-nav,.tabs-nav li a,.tabs-nav li ul,.tabs-panel{border-color:#dadada;}
.tabs-collapsible .tabs-nav li.current a,.tabs-collapsible .tabs-nav li.tabs-active a,.tabs-collapsible .tabs-nav li.active a{cursor:pointer;}
.tabs-nav li.current a,.tabs-nav li.tabs-active a,.tabs-nav li.active a,.tabs-nav li.tabs-loading a{cursor:text;}
.tabs-panel{background-color:#FFFFFF;border: 1px solid #E6E9ED;margin-bottom:1em;overflow:hidden;padding:1em;text-align:left;}
#graphicadmin .tabs-nav li a,.tabs-nav li a.img{background-position:5px 50%;background-repeat:no-repeat;background-size:16px 16px;padding-left:28px;}
#graphicadmin .tabs-nav li a{cursor:default;}
#graphicadmin .tabs-nav li.tabs-nav-sys a{cursor:pointer;}
#graphicadmin .tabs-panel{padding:.3em;}
#graphicadmin a.item{background-color:#fbfbfb;background-position:center 2.5em;background-repeat:no-repeat;border:1px solid #eeeeee;color:inherit;display:block;float:left;font-size:90%;font-weight:normal;height:5.7em;margin:.3em;padding:.3em .2em 0 .2em;text-align:center;text-decoration:none;width:15%;}
#graphicadmin a.item.current,#graphicadmin a.item.tabs-active,#graphicadmin a.item.active{background-color:#efefef;border:1px solid #dadada;color:inherit;}
#graphicadmin a.item.current:hover,#graphicadmin a.item.tabs-active:hover,#graphicadmin a.item.active:hover{background-color:#f9f9f9;color:inherit;}
#graphicadmin a.item.text{font-size:95%;height:auto;margin:.2em;padding:.2em;text-align:left;white-space:nowrap;width:18%;}
#graphicadmin a.item:hover{background-color:#eeeeee;border:1px solid #dadada;color:inherit;text-decoration:none;}
#graphicadmin ul.sf-menu li a{cursor:default;}
#graphicadmin ul.sf-menu li.current a{bottom:auto;padding-top:0;}
#graphicadmin ul.sf-menu li:hover{visibility:inherit;}
#graphicadmin ul.sf-menu{margin-bottom:2em;}
#graphicadmin ul.sf-menu ul{border-style:none none solid none;border-width:0 0 1px 0;margin:0;max-height:40em;overflow-x:hidden;overflow-y:auto;padding:0;position:absolute;top:-999em;}
#graphicadmin ul.sf-menu li li{float:left;position:relative;width:16em;}
#graphicadmin ul.sf-menu li li a{background-color:#efefef;background-position:4px 50%;background-repeat:no-repeat !important;background-size:24px 24px;border-radius:0;border-style:solid solid none solid;border-width:1px 1px 0 1px;color:#000000;cursor:pointer;display:block;font-weight:normal;line-height:30px;margin:0;padding-left:32px;position:relative;}
#graphicadmin ul.sf-menu li li.current a,#graphicadmin ul.sf-menu li li a:hover,#graphicadmin ul.sf-menu li.current li a:hover{background-color:#e5e5e5;color:#4a4a4a;}
#graphicadmin ul.sf-menu li li.current a{font-weight:bold;}
#graphicadmin ul.sf-menu li:hover ul,#graphicadmin ul.sf-menu li.sfHover ul{left:0;top:1.75em;z-index:99;}
#graphicadmin ul.sf-menu.sf-js-enabled li:hover ul,#graphicadmin ul.sf-menu.sf-js-enabled li.sfHover ul{top:2em;}
#graphicadmin ul.sf-menu li:hover li ul,#graphicadmin ul.sf-menu li.sfHover li ul{top:-999em;}
#graphicadmin ul.sf-menu li li:hover ul,#graphicadmin ul.sf-menu li li.sfHover ul{left:10em;top:0;}
#graphicadmin ul.sf-menu li li:hover li ul,#graphicadmin ul.sf-menu li li.sfHover li ul{top:-999em;}
#graphicadmin ul.sf-menu li li li:hover ul,#graphicadmin ul.sf-menu li li li.sfHover ul{left:10em;top:0;}
#currentmodlinks{border:.1em solid #dadada;border-radius:.35em;float:right;margin:0 0 1.5em 1.5em;padding:0 1em;}
#currentmodlinks a{background-clip:border-box;background-position:right center;background-repeat:no-repeat;float:left;height:34px;line-height:34px;padding:0 34px 0 0;}
#currentmodlinks a.to-view{background-image:url(../../images/admin/favorites.png);}
.tabs-nav-secondary{margin:1em 0;padding:.5em 0;}
.tabs-nav-secondary li{float:left;list-style-type:none;margin:0 0 1.1em .5em;}
.tabs-nav-secondary li a{background-color:#efefef;border:1px solid #dadada;border-radius:.35em;color:inherit;display:block;font-size:110%;line-height:1.75em;padding:0 .75em;text-decoration:none;}
.tabs-nav-secondary li.current a,.tabs-nav-secondary li a.current{background-color:#f9f9f9;color:#4a4a4a;font-weight:bold;}

/* debug 
body #pmx-debug-area {
   background-color: #fff;
   border: 1px solid #EBEBEB;
   color: #333;
   display: block;
   font-size: 1em;
   margin: 1em auto;
   padding: 1em 2em;
   text-align: left;
   width: 80%;
}

body #pmx-debug-area div {
   background-color: #fafafa;
   border: 1px solid #EBEBEB;
   color: #444;
   font-size: .9em;
   line-height: 1.2em;
   max-height: 15em;
   overflow: auto;
   padding: .5em;
}

body #pmx-debug-area div ol,
body #pmx-debug-area div ul {
   margin: .5em .5em .5em 1.5em;
}

body #pmx-debug-area div ul li span {
   font-style: italic;
   white-space: pre;
}

body #pmx-debug-area div.dbgwarn {
   background-color: #ffdddd;
   color: #000000;
}

body #pmx-debug-area h3 {
   border: none;
   margin: .5em .5em .25em .5em;
   padding: 0;
}

body #pmx-debug-area h4 {
   border: none;
   margin: 0 0 0 1em;
   padding: 0;
}

body div #pmx-debug-area {
   width: auto;
}
*/

/* default.debugmode.css */
body #pmx-debug-area{background-color:#efefef;border-color:#efefef #dbdbdb #dbdbdb #efefef;border-style:solid;border-width:1px;color:#75695E;display:block;font-size:1em;margin:1em auto;padding:1em;text-align:left;width:80%;}
body #pmx-debug-area div{background-color:#fefefe;border-color:#dbdbdb #efefef #efefef #dbdbdb;border-style:solid;border-width:1px;color:#75695E;font-size:.9em;line-height:1.2em;max-height:15em;overflow:auto;padding:.5em;}
body #pmx-debug-area div ol,body #pmx-debug-area div ul{margin:.5em .5em .5em 1.5em;}
body #pmx-debug-area div ul li span{font-style:italic;white-space:pre;}
body #pmx-debug-area div.dbgwarn{background-color:#ffdddd;color:#000000;}
body #pmx-debug-area h3{border:none;margin:.5em .5em .25em .5em;padding:0;}
body #pmx-debug-area h4{border:none;margin:0 0 0 1em;padding:0;}
body div #pmx-debug-area{width:auto;}
.dbg-error{background-color:#ffdddd;border:2px solid #ff0000;color:#000000;margin:.25em;padding:.35em;text-align:left;z-index: 9999;}
.dbg-frame{background-color:#ff0000;color:#ff0001;cursor:crosshair;position:fixed;z-index:9998;}
.dbg-frame.dpob{bottom:0;height:.3em;left:0;width:100%;}
.dbg-frame.dpol{height:100%;left:0;top:0;width:.5em;}
.dbg-frame.dpor{height:100%;right:0;top:0;width:.5em;}
.dbg-frame.dpot{height:.3em;left:0;top:0;width:100%;}
.dbgmod{background-image:url(../../images/debugmode_small.png);background-position:4px 50%;background-repeat:no-repeat;display:none;left:0;position:fixed;top:0;z-index:9999;}
.dbgmod.dbgmod-big{background-color:#f3f3f3;border:.2em solid #ff0000;color:#333333;cursor:pointer;font-size:12px;font-weight:bold;line-height:30px;margin:.4em .65em;padding:0 .5em 0 30px;}
.dbgmod.dbgmod-min{cursor:help;height:26px;margin:.2em .45em;width:28px;}
.dbgmod.dbgmod-min *{display:none;}



div.required .co-form-label:not(span):before,
td.required:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}

/* tabs CoreUI*/
#pmx-content .nav-tabs .nav-link.active {
    border-top: 2px solid #20a8d8;
}