<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="de">
<head>

<style type="text/css">

.error {
    color: #be4b22;
    text-align: center;
}
.error {
    border-radius: 4px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
.error {
    background-color: #f6b9b9;
    border: 0.12em solid #e18484;
    color: #000000;
}
.error {
    display: block;
    margin: 0.3em 1em;
    padding: 0.75em;
}

</style>
<title>Access Denied</title>
</head>
<body>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div class="error">Access Denied</div>
</body>
</html>