
<?php
/* Javascript & jquery for tabs */
pmxHeader::add_tabs();
?>
<h2><?php echo _SETBAN ?></h2>


<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist" id="setbantabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#setban-ip" role="tab"><?php echo _INFOHOWBAN ?></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#setban-name" role="tab"><?php echo _INFOHOWBANNAME ?></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#setban-mail" role="tab"><?php echo _INFOHOWBANMAIL ?></a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="setban-ip" role="tabpanel">
  <?php $this->display('ip.html') ?>
  </div>
  <div class="tab-pane" id="setban-name" role="tabpanel">
  <?php $this->display('name.html') ?>
  </div>
  <div class="tab-pane" id="setban-mail" role="tabpanel">
  <?php $this->display('mail.html') ?>
  </div>
</div>


<script type="text/javascript">
$('#setbantabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>


<?php /* pragmaMx CVS $Id: setban.html 6 2015-07-08 07:07:06Z PragmaMx $ */ ?>
