<?php
/* Javascript & jquery for tabs */
pmxHeader::add_tabs();
pmxHeader::add_jquery();
pmxHeader::add_style(MXB_BASEMODTEMPLATE . DS . 'admin' . DS . 'style/style.css');
?>

	<h2><?php echo _TEXTCP ?></h2>
	<ul class="tabs-nav">
		<li><a href="<?php echo MXB_BM_SETTINGS0 ?>" onfocus="this.blur()" class="img i-settings"><?php echo _TEXTSETTINGS ?></a></li>
		<li><a href="<?php echo MXB_BM_CP1 ?>action=forum" onfocus="this.blur()" class="img i-forums"><?php echo _TEXTFORUMS ?></a></li>
		<li><a href="<?php echo MXB_BM_CP1 ?>action=mods" onfocus="this.blur()" class="img i-mods"><?php echo _TEXTMODS ?></a></li>
		<li><a href="<?php echo MXB_BM_CP1 ?>action=members" onfocus="this.blur()" class="img i-members"><?php echo _TEXTMEMBERS ?></a></li>
		<!--<li><a href="<?php echo MXB_BM_CP31 ?>action=tracking" class="nowrap"><?php echo _TEXTTRACKING ?></a></li>-->
		<!--<li><a href="<?php echo MXB_BM_CP21 ?>action=newsletter" class="nowrap"><?php echo _TEXTNEWSLETTER ?></a></li>-->
		<li><a href="<?php echo MXB_BM_CP1 ?>action=security" onfocus="this.blur()" class="img i-security"><?php echo _SECURITY ?></a></li>
		<!--<li><a href="<?php echo MXB_BM_CP1 ?>action=ipban" class="nowrap"><?php echo _TEXTIPBAN ?></a></li>-->
		<li><a href="<?php echo MXB_BM_CP21 ?>action=themes"onfocus="this.blur()" class="img i-themes"><?php echo _TEXTTHEMES ?></a></li>
		<li><a href="<?php echo MXB_BM_CP21 ?>action=smilies"onfocus="this.blur()" class="img i-smilies"><?php echo _TEXTSMILIES ?></a></li>
		<!--<li><a href="<?php echo MXB_BM_CP21 ?>action=censor" class="nowrap"><?php echo _TEXTCENSORS ?></a></li>-->
		<li><a href="<?php echo MXB_BM_CP21 ?>action=ranks"onfocus="this.blur()" class="img i-ranks"><?php echo _TEXTUSERRANKS ?></a></li>
		<li><a href="<?php echo MXB_BM_CP31 ?>action=maintenance" onfocus="this.blur()" class="img i-maintenance"><?php echo _TEXTMAINTENANCE ?></a></li>
		<!--<li><a href="<?php echo MXB_BM_CP31 ?>action=countforum" class="nowrap"><?php echo _MENUCOUNTFORUM ?></a></li>
		<li><a href="<?php echo MXB_BM_CP1 ?>action=upgrade" class="nowrap"><?php echo _TEXTUPGRADE ?></a></li>
		<li><a href="<?php echo MXB_BM_CP31 ?>action=resetforum" class="nowrap"><?php echo _TEXTRESET ?></a></li>-->
	</ul>
