<div id="mxb-security-tracking" class="tabs-panel">  
	<form method="post" action="<?php echo MXB_BM_CP31 ?>action=tracking">
		<table cellspacing="0" cellpadding="0" border="0" width="100%" align="center">
			<tr>
				<td class="bordercolor">
					<table border="0" cellspacing="<?php echo $borderwidth ?>" cellpadding="<?php echo $tablespace ?>" width="100%">
						<tr>
							<td class="mxb-header"><?php echo _TEXTTRACKING ?></td>
						</tr>
						<?php foreach ($this->forumlist as $forum) : ?>
						<tr class="tablerow altbg2">
							<td class="f11pix">
								<a href="<?php echo MXB_BM_FORUMDISPLAY1 ?>fid=<?php echo $forum['fid'] ?>"><b><?php echo $forum['name'] ?></b></a>&nbsp;&nbsp;(<?php echo $totaltime, '&nbsp;', _TEXTHOURS ?>)
								<br/>&nbsp; &gt;
								<a href="<?php echo MXB_BM_MEMBER1 ?>action=viewpro&amp;member=<?php echo rawurlencode($forummember['username']) ?>"><?php echo $forummember['username'] ?></a>
								&nbsp;&nbsp;(<?php echo $timeinforum, '&nbsp;', _TEXTMINUTS ?>)
			    	<?php endforeach ?>
			
			
			
			
			
</div>