<div id="#mxb-maintenance-reset" class="tabs-panel">  
	<form method="post" action="<?php echo MXB_BM_CP31 ?>action=resetforum ">
		<table cellspacing="0" cellpadding="0" border="0" width="100%" align="center">
			<tr>
				<td class="bordercolor">
					<table border="0" width="100%">
						<tr class="mxb-header">
							<td colspan="2"><?php echo _TEXTRESETFORUM ?></td>
						</tr>
						<tr class="altbg1">
							<td class="tablerow"><?php echo _TEXTRESETFORUMEND ?></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<center>
			<br/>
			<input type="submit" name="resetcancel" value="<?php echo _YES ?>" />
		</center>
	</form>
</div>