<div id="mxb-ranks" class="tabs-panel">  
	<form method="post" action="<?php echo MXB_BM_CP21 ?>action=ranks">
		<table class="full list">
			<thead>
				<tr>
					<th><?php echo _TEXTCUSSTATUS ?></th>
					<th><?php echo _TEXTPOSTS ?></th>
					<th><?php echo _TEXTSTARS ?></th>
					<th><?php echo _TEXTDELETEQUES ?></th>					
				</tr>
			</thead>
			<tbody>
			<?php foreach ($this->ranklist as $rank) : ?>
    		<tr<?php echo $rank['class'] ?>>
					<td><input type="text" name="title<?php echo $rank['id'] ?>" value="<?php echo $rank['title'] ?>" /></td>
					<td><input type="text" name="posts<?php echo $rank['id'] ?>" value="<?php echo $rank['posts'] ?>" size="5" /></td>
					<td><input type="text" name="stars<?php echo $rank['id'] ?>" value="<?php echo $rank['stars'] ?>" size="4" /></td>
   			        <td><input type="checkbox" name="delete<?php echo $rank['id'] ?>" value="<?php echo $rank['id'] ?>" /></td>					
				</tr>
    	    <?php endforeach ?>
				<tr>
					<td><strong><?php echo _TEXTNEWRANK ?>&nbsp;&nbsp;</strong><input type="text" name="newtitle" /></td>
					<td><input type="text" name="newposts" size="5" /></td>
					<td colspan="2"><input type="text" name="newstars" size="4" /></td>
				</tr>
			</tbody>
		</table>
		<fieldset class="submit-buttons">
			<input type="submit" class="button1" name="rankssubmit" value="<?php echo _TEXTSUBMITCHANGES ?>" />
		</fieldset>
	</form>			
</div>
