<div id="mxb-maintenance-prune" class="tabs-panel">  
	<form method="post" action="<?php echo MXB_BM_CP31 ?>action=prunesubmit ">
		<fieldset>
			<dl>
				<dt><label><?php echo _PRUNEWHERE ?></label></dt>
    		<dd><input type="text" name="prunedays" size="4" /><?php echo _DAYS ?></dd>
    	</dl>
    	<dl>
    		<dt><label><?php echo _PRUNEIN ?></label></dt>
    		<dd><?php echo $this->forumselect ?></dd>
    	</dl>
  	</fieldset>
  	<fieldset class="submit-buttons">
  		<input type="submit" class="button1" name="prunesubmit" value="<?php echo _TEXTSUBMITCHANGES ?>" />
  	</fieldset>
 	</form>
</div>