<div id="mxb-mods" class="tabs-panel">  
	<form method="post" action="<?php echo MXB_BM_CP1 ?>action=mods">
		<table class="full list">
			<thead>
				<tr>
					<th><?php echo _TEXTFORUM ?></th>
					<th><?php echo _TEXTMODERATOR ?></th>
				</tr>			
			</thead>
			<tbody>
			<?php foreach ($this->modforumlist as $modforum): ?>
    		<tr>
  				<td><?php echo $modforum['name'] ?></td>
					<td><input type="text" size="60" name="mod<?php echo $modforum['fid'] ?>" value="<?php echo htmlspecialchars($modforum['moderator']) ?>" /></td>
				</tr>
				<?php foreach ($this->modsubforumlist as $modsubforum): ?>
					<?php if ($modsubforum['fup'] === $modforum['fid']): ?>
    				<tr class="bg2">
							<td>&nbsp;&nbsp;<?php echo $modsubforum['name'] ?></td>
							<td>&nbsp;&nbsp;<input type="text" size="55" name="mod<?php echo $modsubforum['fid'] ?>" value="<?php echo htmlspecialchars($modsubforum['moderator']) ?>" /></td>
						</tr>
					<?php endif; ?>
    		<?php endforeach; ?>
    	<?php endforeach; ?>
    	</tbody>
		</table>
		<?php echo _MULTMODNOTE ?>
		<fieldset class="submit-buttons">
			<input type="submit" class="button1" name="modsubmit" value="<?php echo _TEXTSUBMITCHANGES ?>" />
		</fieldset>
	</form>
</div>