<!-- beginn footer.html -->
    <table  class="align-center" >
      <tr>
        <td class="mxb-nav" width="98%">
          $navigation
        </td>
        <td class="mxb-nav  mxb-pageup">
          $page_up
        </td>
      </tr>
    </table>  
 <table style="width:$tablewidth;" class="align-center" id="mxb-footer">
 
      <tr>
        <td colspan="2" class="tablerow mxb-jumper">
          $jump
        </td>
      </tr>
      <tr>
        <td colspan="2" class="tablerow mxb-foldernote">
          $foldernote
        </td>
      </tr>
      <tr>
        <td colspan="2" class="tablerow mxb-rulesbutton">
          $rulesbutton
        </td>
      </tr>
    </table>
    <div  class="tiny align-center" style="font-size: 9px; text-decoration: none;" id="mxb-footer2">
      <br />
      <br />
      <span class="mxb-copyright">$mxboard_copyright</span><br />
      <br />
      <span class="mxb-totaltime">$totaltime</span>
    </div>
<!-- mxBoard CVS $Id: footer.html 122 2016-04-23 20:39:27Z PragmaMx $ -->
<!-- end footer.html -->