<!-- beginn header.html -->
<div>
      <a name="haut" id="haut"></a> 
   
	<h2 class="title" >$bbname</h2>

    <div class="f11pix align-right">
        <span class="mxb-notify">$notify</span><br />
        <br />
        <span class="mxb-lastvisittext">$lastvisittext</span>
    </div>

    <div class="navtd" style="padding: 5px;margin-top:10px;">
        $completenavbar
    </div>
 
    <table  class="align-center" id="mxb-header-nav">
      <tr>
        <td class="mxb-nav" width="98%">
          $navigation
        </td>
        <td class="mxb-nav">
          $page_down
        </td>
      </tr>
    </table> 
	</div>
<!-- mxBoard CVS $Id: header.html 6 2015-07-08 07:07:06Z PragmaMx $ -->
<!-- end header.html -->
