<h2><?php echo _TEXTSTATS ?></h2>
<div class="panel bgcolor3">
	<div class="inner autogrid2">		
			<div class="pam">
				<h3><?php echo _STATS1 ?></h3>	
				<ul>
					<li><?php echo _STATS2 ?></li>
					<li><?php echo _STATS3 ?></li>
					<li><?php echo _STATS41 ?><?php echo $this->memhtml ?></li>
					<li><?php echo _STATS5 ?></li>
					<li><?php echo _STATS51 ?></li>
					<li><?php echo _STATS8 ?></li>
					<li><?php echo _STATS82 ?></li>
				</ul>
			</div>
			<div class="pam">
				<h3><?php echo _TEXTAVERAGES ?></h3>
				<ul>
					<li><?php echo _STATS9 ?></li>
					<li><?php echo _STATS10 ?></li>
					<li><?php echo _STATS11 ?></li>
					<li><?php echo _STATS12 ?></li>
					<li><?php echo _STATS13 ?></li>
					<li><?php echo _STATS15 ?></li>
				</ul>				
			</div>	
			<div class="pam">
				<?php echo _STATS6 ?>
				<?php echo _STATS7 ?>
			</div>
			<div class="pam">
				<?php echo _STATS16 ?>
				<?php echo _STATS14 ?>
			</div>	
	</div>
</div>
