  <div id="mxb-proact-tabs" class="mts">
    <ul class="tabs-nav">
    <?php foreach ($this->tabitems as $act => $data) : ?>
      <li<?php echo (($act == $this->action) ? ' class="current"' : '') ?>>
        <a href="<?php echo $data['link'] ?>"  title="<?php echo $data['title'] ?>"><?php echo $data['caption'] ?></a>
      </li>
    <?php endforeach ?>
    </ul>
    <div class="tabs-panel">
      <?php echo $this->content ?>
    </div>
  </div>

<!-- mxBoard CVS $Id: userpage.html,v 1.1.2.2 2012-01-22 13:44:04 dia_bolo Exp $ -->
