
<?php OpenTable() ?>

<h2><?php echo _UAYOURADMINACCOUNT ?></h2>
<br />

<?php if($this->messages): ?>
<div class="alert alert-danger">
  <ul><li><?php echo implode('</li><li>', $this->messages) ?></li></ul>
</div>
<?php endif; ?>

<?php if($this->errors): ?>
<div class="alert alert-danger">
  <ul><li><?php echo implode('</li><li>', $this->errors) ?></li></ul>
</div>
<?php endif; ?>

<!-- START:BLOC CARD -->
<div class="row">
<div class="col-lg-12">
<div class="card">
<form action="<?php echo adminUrl(PMX_MODULE, 'edit/save') ?>" method="post">
<div class="card-header">
 <i class="fa fa-edit"></i> <?php echo _UAMODIFYINFO ?>  
</div> <!-- end:.card-header -->

<div class="card-block">

          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label"><?php echo _NICKNAME ?></label>
            <div class="col-sm-10">
              <?php echo $this->aid  ?>
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label"><?php echo _UANAME ?></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" name="name" size="12" value="<?php echo mxEntityQuotes($this->name) ?>" />
              <span class="required" title="<?php echo _UAREQUIRED ?>">*</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label"><?php echo _UAEMAIL ?></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="email" name="email" size="12" value="<?php echo $this->email ?>" />
              <span class="required" title="<?php echo _UAREQUIRED ?>">*</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label"><?php echo _UAURL ?></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="url" name="url" size="12" value="<?php echo $this->url ?>" />
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label"><?php echo _PASSWORD ?></label>
            <div class="col-sm-7">
              <?php echo $this->formPassword('pwd', NULL, array('size'=>'30')) ?> <span class="tiny"><?php echo _UAFORCHANGES  ?></span>             
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label"><?php echo _UARETYPEPASS ?></label>
            <div class="col-sm-7">
              <?php echo $this->formPassword('pwd2', NULL, array('size'=>'30'), false) ?> <span class="tiny"><?php echo _UAFORCHANGES  ?></span>             
            </div>
          </div>

</div> <!-- end:.card-block -->

<div class="card-footer">
<button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> <?php echo _UASAVE ?></button>
<input type="hidden" name="op" value="<?php echo PMX_MODULE ?>/edit/save" />
</div> <!-- end:.card-footer -->

</form> <!-- end:form -->
</div> <!-- end:.card -->
</div> <!-- end:.col-lg-12 -->
</div> <!-- end:.row -->
<!-- END:BLOC CARD -->


<?php CloseTable() ?>

<?php 
/* die Passwortfelder auf jeden Fall leeren, damit Browserdaten entfernt werden */
pmxHeader::add_jquery();
pmxHeader::add_script_code('$(document).ready(function(){$(\'input[type="password"]\').val("");});');

/* pragmaMx CVS $Id: edit.html 6 2015-07-08 07:07:06Z PragmaMx $ äöüß */
?>