<h1><?php echo _CFA_NOADMINYET ?></h1>

<?php if($this->messages): ?>
<div class="alert alert-warning">
  <ul><li><?php echo implode('</li><li>', $this->messages) ?></li></ul>
</div>
<?php endif; ?>

<?php if($this->errors): ?>
<div class="alert alert-error">
  <ul><li><?php echo implode('</li><li>', $this->errors) ?></li></ul>
</div>
<?php endif; ?>

<form action="<?php echo adminUrl(PMX_MODULE, 'add/save') ?>" method="post" class="mx-form mx-form-aligned">
	<div class="control-group">
		<label for="aid"><?php echo _NICKNAME ?></label>
		<input type="text" id="aid" name="aid" value="<?php echo $this->aid ?>" size="30" maxlength="25" /><span class="mx-form-message-inline"><?php echo _CFA_REQUIREDNOCHANGE ?></span>
	</div>
	<div class="control-group">
		<label for="name"><?php echo _CFA_NAME ?></label>
		<input type="text" id="name" name="name" size="40" maxlength="50" value="<?php echo $this->name ?>" /><span class="mx-form-message-inline" title="<?php echo _CFA_REQUIRED ?>">*</span>
	</div>
	<div class="control-group">
		<label for="email"><?php echo _CFA_EMAIL ?></label>
		<input type="text" id="email" name="email" size="40" maxlength="100" value="<?php echo $this->email ?>" /><span class="mx-form-message-inline" title="<?php echo _CFA_REQUIRED ?>">*</span>
	</div>
	<div class="control-group">
		<label for="url"><?php echo _CFA_URL ?></label>
		<input type="text" id="url" name="url" value="<?php echo $this->url ?>" size="40" maxlength="255" />
	</div>	
	<div class="control-group">
		<label><?php echo _PASSWORD ?></label>
		<?php echo $this->formPassword('pwd', NULL, array('size'=>'30')) ?><span class="mx-form-message-inline" title="<?php echo _CFA_REQUIRED ?>">*</span>
	</div>		
	<div class="control-group">
		<label><?php echo _CFA_RETYPEPASS ?></label>
		<?php echo $this->formPassword('pwd2', NULL, array('size'=>'30')) ?><span class="mx-form-message-inline" title="<?php echo _CFA_REQUIRED ?>">*</span>
	</div>		
	<div class="control-group">
		<label><?php echo _CFA_CREATEUSERDATA ?></label>
		<input<?php echo (($this->createuser) ? ' checked="checked"' : '') ?> type="radio" value="1" name="createuser"><?php echo _YES ?>
        <input<?php echo (($this->createuser) ? '' : ' checked="checked"') ?> type="radio" value="0" name="createuser"><?php echo _NO ?>
	</div>		  
	<div class="control-group">
		<label for="dbpass"><?php echo _CFA_DBPASS ?></label>
		<input type="password" id="dbpass" size="20" name="dbpass"><span class="mx-form-message-inline" title="<?php echo _CFA_REQUIRED ?>">*</span>
	</div>  
	<div class="controls">
		<input type="submit" value="<?php echo _CFA_ADDAUTHOR ?>" class="mx-button mx-button-primary" />
	</div>
    <input type="hidden" name="check" value="<?php echo $this->reqcheck ?>" />
    <input type="hidden" name="op" value="<?php echo PMX_MODULE ?>/add/save" />
</form>

<?php 
/* die Passwortfelder auf jeden Fall leeren, damit Browserdaten entfernt werden */
pmxHeader::add_jquery();
pmxHeader::add_script_code('$(document).ready(function(){$(\'input[type="password"]\').val("");});');

/* pragmaMx CVS $Id: add.html 235 2016-09-29 12:34:24Z PragmaMx $ äöüß */
?>