<div class="container">

  <div class="form-group row">
    <label for="uname_special_chars" class="col-sm-2 col-form-label"><?php echo _UPOINTS_DOACTIVATE ?></label>
    <div class="col-sm-10">
    <input name="useuserpoints" value="1" size="20" type="radio"<?php echo ($this->useuserpoints) ? ' checked="checked"' : '' ?> /><?php echo _YES ?>
    <input name="useuserpoints" value="0" size="20" type="radio"<?php echo ($this->useuserpoints) ? '' : ' checked="checked"' ?> /><?php echo _NO ?>
    </div>
  </div>

  <div class="form-group row">
      <div class="alert alert-info"><?php echo _UPOINTS_DESCRIBE ?></div>
      <table class="table">
      <?php $points = $this->pointsarray ?>
      <?php foreach ($points as $part) : ?>
      <tr valign="top">
        <td><?php echo $part['label'] ?>:</td>
        <td><input type="text" name="<?php echo $part['name'] ?>" value="<?php echo $part['value'] ?>" size="<?php echo $part['size'] ?>" /></td>
      </tr>
      <?php endforeach ?>
      </table>
  </div>

  <div class="form-group row">
    <label for="uname_special_chars" class="col-sm-2 col-form-label"><?php echo _UPOINTS_IGNOREUSERS ?></label>
    <div class="col-sm-10">
    <textarea class="form-control" cols="35" rows="4" name="excludedusers"><?php echo stripslashes($this->excludedusers) ?></textarea>
    </div>
  </div>
</div> <!-- END:.container -->

<?php /* pragmaMx CVS $Id: points.html 6 2015-07-08 07:07:06Z PragmaMx $ */ ?>