<?php
/* Javascript & jquery for tabs */
pmxHeader::add_tabs();
?>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#ya-register" role="tab"><?php echo _UTAB_OPTIONS ?></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#ya-photo" role="tab"><?php echo _UTAB_USERPIC ?></a>
  </li>
  <?php if ($this->tab_welcome): ?>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#ya-welcome" role="tab"><?php echo _UTAB_WELCOMEMSG ?></a>
  </li>
  <?php endif ?>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#ya-points" role="tab"><?php echo _UTAB_USERPOINTS ?></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#ya-other" role="tab"><?php echo _UTAB_OTHERS ?></a>
  </li>
</ul>


<form action="<?php echo adminUrl(PMX_MODULE, 'save') ?>" method="post">

<!-- Tab panes -->
<div class="tab-content">

  <div class="tab-pane active" id="ya-register" role="tabpanel">
    <?php echo($this->tab_register) ?>
  </div>

  <div class="tab-pane" id="ya-photo" role="tabpanel">
    <?php echo($this->tab_photo) ?>
  </div>

  <?php if ($this->tab_welcome): ?>
  <div class="tab-pane" id="ya-welcome" role="tabpanel">
    <?php echo($this->tab_welcome) ?>
  </div>
  <?php endif ?>

  <div class="tab-pane" id="ya-points" role="tabpanel">
    <?php echo($this->tab_points) ?>  
  </div>

  <div class="tab-pane" id="ya-other" role="tabpanel">
    <?php echo($this->tab_other) ?>  
  </div>
</div>
  <br>
  <input type="hidden" name="op" value="<?php echo PMX_MODULE ?>/save" />
  <button type="submit" class="btn btn-primary"><?php echo _UCSAVECHANGES ?></button>
</form>

<?php /* pragmaMx CVS $Id: usersconfig.html 6 2015-07-08 07:07:06Z PragmaMx $ */ ?>