aside {
    width: 260px;
    float: left;
}


/*

.navbar-nav li { height: 60px;
border-left: 1px solid #212121;
border-right: 1px solid #313131;
 }
 
.navbar .nav li:first-child { border-left: none; }
  
    .navbar .nav li:last-child { border-right: none; }
 
    .navbar .nav li a {
        color: rgba(255, 255, 255, 0.6);
        font-size: 13px;
        text-shadow: 0 1px 0 #000000;
        height: 60px;
        outline: 0;
        padding: 20px 15px 10px;
        transition: background 0.1s linear 0s; }

 
.nav li a:hover,
.nav li a:focus { background-color: #222; }

.nav .open a, 
.nav .open a:hover, 
.nav .open a:focus {
    background-color: #191919;
    border-color: #424242; }
*/


#sidebar {
    background: linear-gradient(to right, #333 90%, #292929 100%);
    float: left;
    width: 260px;
    height: 100%;
    position: fixed;
    transition: all 0.3s ease-in-out 0s;
     }


/* menu sidebar */
aside > .navbar {
    border:none;
    background: linear-gradient(to right, #313131 94%, #292929 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

/* admin profil */
.admin-profil {
    background: #252525;
    padding:10px 15px 0;
    background: linear-gradient(to right, #252525 94%, #191919 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #1E1E1E;

}

.admin-avatar {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
    border-radius: 34px;
    height: 58px;
    padding: 2px;
    width: 58px;
}
.admin-avatar img {
    border-radius: 32px;
    height: 54px;
    width: 54px;
}

.admin-details {
    margin-left: 80px;
}

.admin-details h5 {
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    margin: 0;
    color: #DEDEDE;
}

.admin-details a {
    color: #FFFFFF;
    font-size: 12px;
    opacity: 0.2;
}


.minifyme {
    background: none repeat scroll 0 0 #F7F8FA;
    border-bottom: 1px solid #302F2F;
    border-radius: 5px 0 0 5px;
    color: #A8A8A8;
    cursor: pointer;
    display: block;
    font-size: 19px;
    height: 28px;
    margin-top: 20px;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all 0.1s linear 0s;
    width: 36px; }

/* admin-menu */

#admin-menu ul {
    overflow: hidden;
}

#admin-menu li {
    cursor: pointer;
}

#admin-menu > li> a > i {
    margin-right: 5px;
}

#admin-menu > li.first > a {
    border-top: none;
}

#admin-menu > li > a {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
    color: #CCCCCC;
    font-size: 14px;
}

#admin-menu > li.last > a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#admin-menu > li.active > a {
    background-color: #1D1D1D;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
}

/*sub*/
#admin-menu ul {
    background: none repeat scroll 0 0 rgba(69, 69, 69, 0.6);
       border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 4px 0 0;
     list-style: none;
}


#admin-menu ul li {
}

#admin-menu ul li a {
    color: #A8A8A8;
    font-size: 13px;
    font-weight: 400;
    padding: 8px 20px 8px 40px;
    text-decoration: none !important;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    display: block;
}

#admin-menu ul li a:hover {
background-color: #1E1E1E;
}

#admin-menu ul li a.active {
background-color: #292929;
    border-left: 1px solid #8FAB28;
}


#admin-menu ul li a.active:before {
    border-color: rgba(255, 255, 255, 0) #E7E7E7 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    border-width: 15px;
    margin-top: -15px;
    border: medium solid rgba(0, 0, 0, 0);
    content: "- ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: -1px;
    top: 50%;
    width: 0;
}

#admin-menu ul li:last-child {
    padding-bottom: 10px;
}

/* col 1 menu*/

.mini-menu .navbar-static-side {
    position: absolute;
    width: 60px;
    z-index: 1;
}

.mini-menu .navbar .collapse {
  
}

/*2*/
/* Sidebar Menu Styles */

 .arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}