/* widget dashboard */
.widget {
    clear: both;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 10px 15px;
}

.widget > .widget-head {
    background-color: #EEEEEE;
    border-radius: 4px 4px 0 0;
    height: 38px;
    padding: 10px 10px 2px;
}

.widget-head h3 {
    color: #484848;
    display: inline-block;
    float: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin: 1px 0 0;
    padding: 0 0 0 6px;
    text-transform: uppercase;
}

.widget-body {
background-color: #FEFEFE;
    border-radius: 0 0 4px 4px;
    clear: both;
    padding: 15px;
}


.widget .widget-head .widget-tools > a {
    color: #666;
    font-size: 15px;
    margin: 0 4px;
    opacity: 0.6;
}

.widget .widget-head .widget-tools > a:hover,
.widget .widget-head .widget-tools > a:focus {
    color: #444;
    text-decoration: none;
}