<?php
// die Passwortfelder werden auch geleert, damit Browserdaten entfernt werden
// TODO: das mit den Farben geht schöner....
// based on: https://github.com/nicolaszhao/password-checker
//
// $Id: passwordchecker.html 6 2015-07-08 07:07:06Z PragmaMx $

// <script type="text/javascript">
?>

$(document).ready(function() {
  $(':password.password-checker-input').passwordChecker({
    minlength: <?php echo $this->minpass ?>,
    texts: ['<?php echo $this->strings ?>'],
    colors: ['#990000', '#996600', '#cc6600', '#999933', '#2a7726']
  }).val('');
});

<?php
// </script>
?>

