/*
--------------------------------------------------------------
    COMMON
-------------------------------------------------------------- */

/* Main blocks
---------------------------------------- */
#mxb-title {
	float: left;
	width: auto;
	padding: 10px 13px 0 10px; }

a#mxb-title { 
    text-decoration: none;
 }

/* Search box
--------------------------------------------- */
#search-box {
	position: relative;
	margin-top: 30px;
	margin-right: 5px;
	display: block;
	float: right;
	text-align: right;
	white-space: nowrap; }

	#search-box #keywords {
		width: 95px; }

/* Round cornered boxes and backgrounds
---------------------------------------- */
.headerbar {
	margin-bottom: 4px;
	padding: 0 5px; }

.navbar a { text-decoration: none; }
.navbar a:hover { text-decoration: underline; }

.footerbar {
	margin-top:10px;
	padding: 0 10px; }

.forabg, .forumbg {
	clear: both; }

.panel {
	margin-bottom: 4px;
	padding: 0 10px; }

.post {
	margin-bottom: 4px;
	background-repeat: no-repeat;
	background-position: 100% 0;
	padding: 10px 10px 5px; }

.post .inner {
	background: #FFF;
	padding:15px;
	border: 1px solid #ECF0F1;;
	 }


/* Horizontal lists
----------------------------------------*/
ul.linklist {
	display: block;
	margin: 0;
	padding: 5px 10px;
	}

	ul.linklist li {
		display: block;
		list-style-type: none;
		float: left;
		width: auto;
		margin-right: 5px;
		margin-left: 0;}

		ul.linklist li.rightside {
			float: right;
			margin-right: 0;
			margin-left: 5px;
			text-align: right; }

ul.leftside {
	float: left;
	margin-left: 0;
	margin-right: 5px;
	text-align: left; }

ul.rightside {
	float: right;
	margin-left: 5px;
	margin-right: -5px;
	text-align: right; }

/* reorder
----------------------------------------*/
.reorder { 
    float: right;
    margin-right: .5em;
    padding-right:.5em; }

/* Table styles
----------------------------------------*/
table.table1 {
	/* See tweaks.css */
}
table.table1 thead th {
	font-weight: normal;
	text-transform: uppercase;
	padding: 0 0 4px 3px;
}

table.table1 tbody td {
	padding: 5px;
}

/* Specific column styles */
table.table1 .name		{ text-align: left; }

table.table1 .active	{ text-align: left; width: 15%; }

.forumbg table.table1 {
	margin: 0 -2px -1px -1px;
}


/* Misc layout styles
---------------------------------------- 
 column[1-2] styles are containers for two column layouts 

   Also see tweaks.css */
.column1 {
	float: left;
	clear: left;
	width: 49%; }

.column2 {
	float: right;
	clear: right;
	width: 49%; }

/* General classes for placing floating blocks */
.left-box {
	float: left;
	width: auto;
	text-align: left; }

.right-box {
	float: right;
	width: auto;
	text-align: right; }
/* Pagination
---------------------------------------- */
.mxb-pagination {
	height: 1%;
	width: auto;
	text-align: right;
	margin-top: 5px;
	float: right; }

.mxb-pagination span strong {
	font-weight: 400;
	margin: 0 2px;
	padding: 0 2px; }

.mxb-pagination span a,.mxb-pagination span a:link,.mxb-pagination span a:visited,.mxb-pagination span a:active {
	font-weight: 400;
	text-decoration: none;
	margin: 0 2px;
	padding: 0 2px; }

.mxb-pagination span a:hover {
	text-decoration: none;
 }

.ligne .mxb-pagination {
	display: block;
	float: right;
	width: auto;
	margin-top: 0;
	background: none 0 50% no-repeat;
	padding: 1px 0 1px 15px; }

/* Details profil
---------------------------------------- */	
dl.details {
}
dl.details dt {
    clear: left;
    display: block;
    float: left;
    text-align: right;
    width: 35%;
}
dl.details dd {
    float: left;
    margin-bottom: 5px;
    margin-left: 0;
    padding-left: 10px;
    width: 55%;
}	

/* Miscellaneous styles
---------------------------------------- */
.copyright {
	text-align: center;
	clear: both;
	padding: 5px; }

div.rules {
	margin: 10px 0;
	padding: 0 10px; }

#haut {
	position: absolute;
	top: -20px; }

#mxbout dl dt,.mxb-pagination strong,/*.mxb-pagination b */{ font-weight: 400; }

#mxbout hr.divider,.mxb-pagination span.page-sep { display: none; }

/*  	
--------------------------------------------------------------
    LINKS
-------------------------------------------------------------- */

/* Coloured usernames */
.username-coloured {
	font-weight: 700;
	display: inline !important;
	padding: 0 !important; }
 
#search-box a:hover,.forabg .header a:hover { text-decoration: underline; }
 
#search-box a:active,.forabg .header a:active { text-decoration: none; }
 
/* Profile links */
.postprofile a:link,.postprofile a:active,.postprofile a:visited {
	font-weight: 700;
	text-decoration: none; }
 
.postprofile a:hover { text-decoration: underline; }
 
/* Back to top of page */
.back2top {
	clear: both;
	height: 1.2em;
	text-align: right; }
 
a.top { }
 
/* Arrow links  */
a.left { background: none no-repeat 3px 60%; }
 
a.right { background: none no-repeat 95% 60%; }
 
a.left,a.left:active,a.left:visited { padding-left: 12px; }
 
a.left:hover {
	text-decoration: none;
	background-position: 0 60%; }
 
a.right,a.right:active,a.right:visited { padding-right: 12px; }
 
a.right:hover {
	text-decoration: none;
	background-position: 100% 60%; }
 
#search-box a:link,.forabg .header a:link,#search-box a:visited,.forabg .header a:visited { text-decoration: none; }
 
a.forumtitle {
	font-weight: 700;
	text-decoration: none; }
 
	a.forumtitle:hover { text-decoration: underline; }
	
/*  	
--------------------------------------------------------------
    CONTENT
-------------------------------------------------------------- */

ul.topiclist {
	list-style-type: none;
	background: #F1F1F1;
	margin: 0;
	padding: 10px 10px 5px; }
 
	ul.topiclist li {
		display: block;
		list-style-type: none;
		margin: 0;
		padding:10px;
		background: #FFF;
		border-bottom: 1px solid #ECF0F1;
		color: #818181; }
 
	ul.topiclist dl { position: relative; }
 
	ul.topiclist li.ligne dl { padding: 2px 0; }
 
	ul.topiclist dt {
		display: block;
		float: left;
		width: 50%;
		padding-left: 5px;
		padding-right: 5px;
		font-weight: normal; }
		
	ul.topics dl.icon dt {
		padding-left: 40px;
		 }		
		
    ul.topiclist dt	a {
        text-decoration:none;
    }
 
	ul.topiclist dd {
		display: block;
		float: left;
		padding: 4px 0; 
		margin:0;}
 
	ul.topiclist dfn {
		position: absolute; /* Labels for post/view counts */
		left: -999px;
		width: 990px; }
 
li.ligne strong { font-weight: normal; }
 
li.header dt, li.header dd {
	border-left-width: 0;
	text-transform: uppercase; }
 
li.header dd { margin-left: 1px; }
 
li.header dl.icon { min-height: 0; font-size: .9em;}
 
	li.header dl.icon dt {
		padding-left: 0; /* Tweak for headers alignment when folder icon used */
		padding-right: 50px; }
 
/* Forum list column styles */
dl.icon {
	min-height: 35px;
	background-position: 10px 50%; /* Position of folder icon */
	background-repeat: no-repeat; }
 
	dl.icon dt {
		padding-left: 60px; /* Space for folder icon */
		background-repeat: no-repeat;
		background-position: 5px 95%; /* Position of topic icon */ }
 
dd.posts, dd.topics, dd.views {
	width: 8%;
	text-align: center;
 }
 
dt .thread-icon {
	float: left;
	margin-right: 6px; }
 
/* List in forum description */
dd.lastpost {
	width: 25%;
	 }
 
	dd.lastpost span {
		display: block;
		padding-left: 5px; }
 
/* Container for post/reply buttons and mxb-pagination */
.topic-actions {
	margin-bottom: 4px;
	height: 28px;
	min-height: 28px; }
 
div[class].topic-actions { height: auto; }
 
/* Post body styles
 
----------------------------------------*/
.postbody {
	padding: 0;
	width: 76%;
	float: left;
	clear: both; }
 
#mxbout .postbody h3.first {  /* The first post on the page uses this */ }
 
.postbody h3 {
	 /* Postbody requires a different h3 format - so change it here */
	padding: 2px 0 0 0;
	margin: 0 0 0.3em 0 !important;
	text-transform: uppercase;
	font-weight: normal;
	font-size: .9em;
	border: none; }
 
.postbody .content {  }
 
/* Topic review panel
 
----------------------------------------*/
#review { margin-top: 2em; }
 
#topicreview {
	padding-right: 5px;
	overflow: auto;
	height: 300px; }
 
	#topicreview .post { height: auto; }
 
/* Content container styles
 
----------------------------------------*/
.content {
	min-height: 3em;
	overflow: hidden;
	padding-bottom: 1px; }
 
.panel h2 {
	font-weight: normal;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em; }
 
.panel h3 { margin: 0.5em 0; }
 
.panel p {
	margin-bottom: 1em;
	 }
 
dl.faq {
	margin-top: 1em;
	margin-bottom: 2em;
	 }
 
	dl.faq dt { font-weight: bold; }
 
.content li { list-style-type: inherit; }
 
.content ul {
	margin-bottom: 1em;
	margin-left: 3em; }
 
#mxbout .content h4 { }
 
/* Post author */
p.author {
	margin: 0 15em 0.6em 0;
	padding: 0 0 5px 0;
	color: #AAAAAA;
    text-shadow: 0 1px 0 #EEE;
    font-size: .95em;
	 }
 
/* Post signature */
.signature {
	margin-top: 1.5em;
	padding-top: 0.2em;
	clear: left;
	overflow: hidden;
	width: 100%;
	border-top: 1px solid #CCCCCC; }
 
/* Post noticies */
.notice {
	width: auto;
	margin-top: 1.5em;
	padding-top: 0.2em;
	font-style: italic;
	clear: left;
	color:#bec4c9;
	font-size: .9em;
	}
 
/* BB Code styles
 
----------------------------------------*/
/* Quote block */
blockquote {
    background: no-repeat 6px 8px;
	overflow: hidden; }
 
	blockquote blockquote {
	/* Nested quotes */
		margin: 0.5em 1px 0 15px; }
 
		blockquote blockquote blockquote { /* Nested quotes */ }
 
	blockquote cite {
		font-style: normal; /* Username/source of quoter */
		font-weight: bold;
		margin-left: 20px;
		display: block;
		 }
 
/* Code block */
#mxbout dl.codebox {
	padding: 3px;
	 }
 
	dl.codebox dt {
		text-transform: uppercase;
		margin-bottom: 3px;
		font-weight: bold;
		display: block; }
 
blockquote dl.codebox { margin-left: 0; }
 
dl.codebox code {
	height: auto; /* Also see tweaks.css */
	border:none;
	max-height: 200px;
	padding-top: 5px;
	}
 
/* Poster profile block
 
----------------------------------------*/
.postprofile {
	margin: 5px 0 10px 0; /* Also see tweaks.css */
	min-height: 80px;
	width: 22%;
	float: right;
	display: inline; }
 
	.postprofile dd, .postprofile dt {
		margin-left: 8px; }
 
	.postprofile strong { font-weight: normal; }
 
.online {
	background-image: none;
	background-position: 100% 0;
	background-repeat: no-repeat; }
	
/*  	
--------------------------------------------------------------
    BUTTONS
-------------------------------------------------------------- */

a.mx-button-primary:hover {
    color: #fff;
}


/* Poster profile icons
 
----------------------------------------*/
ul.profile-icons {
	padding-top: 10px;
	list-style: none; }
 
	/* Rollover state */
ul.profile-icons li {
		float: left;
		margin: 0 6px 3px 0;
		background-position: 0 100%; }
 
		/* Rolloff state */
ul.profile-icons li a {
			display: block;
			width: 100%;
			height: 100%;
			background-position: 0 0;
			font-size: 1.3em; }
 
		/* Hide <a> text and hide off-state image when rolling over (prevents flicker in IE) */
/*ul.profile-icons li span { display: none; }*/
 
		/*ul.profile-icons li a:hover { background: none; }*/
 
/* Positioning of moderator icons */
.postbody ul.profile-icons {
	float: right;
	width: auto;
	padding: 0;
	margin-top: 4px; }
 
	#mxbout .postbody ul.profile-icons li { margin: 0 3px; }
 
/* Fix profile icon default margins */
ul.profile-icons li.edit-icon { margin: 0 0 0 3px; }
 
ul.profile-icons li.quote-icon { margin: 0 0 0 10px; }
 
ul.profile-icons li.info-icon, ul.profile-icons li.report-icon { margin: 0 3px 0 0; }
 
/* css3 buton 
 
http://www.red-team-design.com/just-another-awesome-css3-buttons */
a.boutton:hover { text-decoration: none; }
 
.boutton {
	display: inline-block;
	white-space: nowrap;
	padding: 0 1.5em;
	margin: .5em .2em;
	font: bold 1em/2em Arial, Helvetica;
	text-decoration: none;
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: .2em; }
 
	.boutton:active {
		position: relative;
		top: 1px; }
 
	.boutton:focus { outline: 0; }
 
	.boutton:before {
		float: left;
		width: 1em;
		text-align: center;
		margin: 0 1em 0 -1em;
		padding: 0 .2em;
		-moz-border-radius: .15em 0 0 .15em;
		-webkit-border-radius: .15em 0 0 .15em;
		border-radius: .15em 0 0 .15em;
		pointer-events: none; }
 
/*  	
--------------------------------------------------------------
    FORMS
-------------------------------------------------------------- */

/* General form styles
 
----------------------------------------*/
fieldset {  }
 
option { padding-right: 1em; }
 
textarea {
	width: 60%;
	padding: 2px; }
 
label { padding-right: 5px; }
 
	label input { vertical-align: middle; }
 
	label img { vertical-align: middle; }
 
/* Definition list layout for forms
 
---------------------------------------- */
fieldset dl { padding: 4px 0; }
 
fieldset dt {
	float: left;
	width: 40%;
	text-align: left;
	display: block; }
 
fieldset dd {
	margin-left: 41%;
	vertical-align: top;
	margin-bottom: 3px; }
 
/* Specific layout 1 */
fieldset.fields1 dt {
	width: 15em;
	border-right-width: 0; }
 
fieldset.fields1 dd {
	margin-left: 15em;
	border-left-width: 0; }
 
fieldset.fields1 { background-color: transparent; }
 
	fieldset.fields1 div { margin: 3px 0; }

	fieldset.fields1 div label {margin: 0; }
 
/* Form elements */
dt label {
	font-weight: bold;
	text-align: left; }
 
dd label { white-space: nowrap; }
 
dd input, dd textarea { margin-right: 3px; }
 
dd select { width: auto; }
 
dd textarea { width: 85%; }
 
/* Display options on viewtopic/viewforum pages  */
fieldset.display-options {
	text-align: center;
	margin: 3px 0 5px 0; }
 
	fieldset.display-options label {
		white-space: nowrap;
		padding-right: 2px; }
 
/* Jumpbox */
fieldset.jumpbox {
	text-align: right;
	margin-top: 15px;
	height: 2.5em; }
 
/* Submit button fieldset */
fieldset.submit-buttons {
	text-align: center;
	vertical-align: middle; }
 
/* Posting page styles
 
----------------------------------------*/
/* Buttons used in the editor */
#format-buttons { margin: 15px 0 2px 0; }
 
/* Main message box */
#message-box { width: 80%; }
 
	#message-box textarea {
		width: 100%;
		 }
 
/* Emoticons panel */
#smiley-box {
	width: 18%;
	float: right; }
 
	#smiley-box img { margin: 3px; }
 
/* Input field styles
 
---------------------------------------- */
input.inputbox { width: 85%; }
 
textarea.inputbox { width: 85%; }
 
/* Form button styles
 
---------------------------------------- */
#mxbout input.button1,#mxbout input.button2 {
	width: auto !important;
	-moz-border-radius: 4px }
 
input.button1 { font-weight: bold; }
 
/* Topic and forum Search */
input.search {
	background-image: none;
	background-repeat: no-repeat;
	background-position: left 1px;
	padding-left: 17px; }
 	
/*  	
--------------------------------------------------------------
    TWEAKS
-------------------------------------------------------------- */ 
/*
These style definitions are mainly IE specific tweaks required due to its poor CSS support.
-------------------------------------------------*/
* html table,* html select,* html input{}
* html hr{margin:0;}
/* IE headerbar fix  */table.table1{voice-family:inherit;width:100%;}
html>body table.table1{width:100%;}
/* Form styles  */html>body dd label input{vertical-align:text-bottom;}
/* Align checkboxes/radio buttons nicely  */* html input.button1,* html input.button2{padding-bottom:0;margin-bottom:1px;}
/* Misc layout styles  */* html .column1,* html .column2{width:45%;}
/* Nice method for clearing floated blocks without having to insert any extra markup (like spacer above)

   From http://www.positioniseverything.net/easyclearing.html 

#tabs:after, #minitabs:after, .post:after, .navbar:after, fieldset dl:after, ul.topiclist dl:after, ul.linklist:after, dl.polls:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;

} */fieldset dl,ul.topiclist dl{height:1%;overflow:hidden;}
/* viewtopic fix  */* html .post{height:25%;overflow:hidden;}
/* navbar fix  */* html .navbar,ul.linklist{height:4%;overflow:hidden;}
/* Simple fix so forum and topic lists always have a min-height set, even in IE6

	From http://www.dustindiaz.com/min-height-fast-hack  */dl.icon{min-height:35px;height:auto !important;}
* html li.ligne dl.icon dt{height:35px;overflow:visible;}
* html #search-box{width:25%;}
/* Correctly clear floating for details on profile view  */* html .forumbg table.table1{margin:0 -2px 0 -1px;}
.headerbar,* html ul.topiclist li{position:relative;}



/* New style nanomx */
#mxbout{
	padding-top: 15px;
}

.navbar-main-nav .navbar {
    background-color: #3b96e2;
    color: #FFF;
}
.navbar-main-nav .navbar a {
    color: #FFF;
}

.navbar-main-nav .navlinks {
    background-color: #F2F2F2;
    color: #999;
    font-size: .95em;
}

ul.topiclist li.header {
    background-color: #434B51;
    color: #DDD;
    padding: 2px 15px;
}

ul.topiclist li.header a {
    color: #FFF;
}

#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover {
    color: #FFF;
}