/**
 * This file is part of
 * pragmaMx - Web Content Management System.
 * Copyright by pragmaMx Developer Team - http://www.pragmamx.org
 * $Id: default.multiblock.css 6 2015-07-08 07:07:06Z PragmaMx $
 *
 * ACHTUNG WICHTIG !!
 * Bitte ändern sie nicht diese Original Systemdatei!
 * Um das Standard Stylesheet anzupassen, erstellen sie in diesem 
 * Ordner eine zusätzliche css Datei die ihre Änderungen enthält.
 * Der Dateiname muss mit "custom" beginnen und die Dateiendung 
 * muss ".css" sein. 
 * z.B.: custom.irgendetwas.css
 */

.mbadli {
   background-color: transparent;
   border-top: 1px solid ___bordercolor___;
   color: inherit;
   font-size: 85%;
   margin-top: 0.75em;
   text-align: right;
}

.mbcl {
   display: block;
   float: left;
}

.mbcl h4.mbcap {
   border-bottom: 1px solid ___bordercolor___;
   margin-bottom: .75em;
   padding-bottom: .25em;
}

.mbcli {
   background-color: transparent;
   border-color: ___bordercolor___;
   border-style: none solid none solid;
   border-width: 0 1px 0 1px;
   color: inherit;
   margin: 0 0 0 -1px;
   overflow: auto;
   padding: .5em .75em .5em .75em;
}

.mbcli.first {
   border-left-style: none !important;
   margin-left: 0 !important;
   padding-left: .5em !important;
}

.mbcli.last {
   border-right-style: none !important;
   padding-right: .5em !important;
}