


	<?php echo $this->formOpen ?>

	<div class="card-deck">

	<?php
	$i=0;
	$stylearray=array("max-width"=>"100px","border"=>"none","margin"=>"0");
	foreach ($this->themes as $themename=>$content) {
	
		/* links definieren */
		$adminactivate="<a class=\"btn btn-secondary\" href=\"admin.php?op=themes&act=admindefault&theme=".$themename."\" title=\""._TT_ACTIVATE."\"><i class=\"fa fa-check fa-lg\"></i></a>";
		$standardactivate="<a class=\"btn btn-primary\" href=\"admin.php?op=themes&act=setdefault&theme=".$themename."\" title=\""._TT_ACTIVATE."\"><i class=\"fa fa-star fa-lg\"></i></a>";
		$mobileactivate='<a class="btn btn-primary" href="admin.php?op=themes&act=setmobile&theme="'.$themename.'" title="'._TT_ACTIVATE.'"><i class="fa fa-mobile fa-lg"></i></a>';
		$standard= '<span class="btn btn-success"><i class="fa fa-check-square-o fa-lg"></i></span>';
		$standardmobile= "<i class=\"fa fa-mobile fa-lg\"></i>";
		$adminlink="<a class=\"btn btn-secondary\" href=\"admin.php?op=themes&act=admin&theme=".$themename."\" title=\""._ADMINISTRATION."\"><i class=\"fa fa-cogs\"></i></a>";
	?>	

<div class="card">
	<div class="card-header h4"><?php echo $themename ?></div>
	<div class="card-body">
	<a name="<?php echo $themename ?>" />
		<?php echo ($content['thumbnail']==false)?"":"<a class=\"btn btn-secondary\" href=\"".$content['preview']."\" rel='pretty[themes]' title=\"".$themename."\"/>".mxCreateImage($content['thumbnail'],"".$themename."",$stylearray)."</a>"; ?>
		<p><?php echo $content['info']; ?></p>
	</div>
	<div class="card-footer">

			<?php echo (($content['admintheme']==true)?"":"<a class=\"btn btn-info\" title=\""._TT_THEME_PREVIEW." : ".$themename."\" href=\"modules.php?name=Themetest&themeselect=".$themename."&iframe=true&width=80%&height=90%\" rel=\"pretty\"><i class=\"fa fa-eye fa-lg\"></i></a>"); ?>
			<?php echo (($content['admin']==true)?$adminlink:""); ?>

		
		<?php echo ($this->xconfig['defaulttheme']==$themename)?$standard:(($content['admintheme']==true)?"":$standardactivate); ?>
		<?php echo ($this->xconfig['mobiletheme']==$themename)?$standardmobile:(($content['admintheme']==true)?"":$mobileactivate); ?>
		

	</div>
</div>	




	<?php $i++; }  ?>
	
	</div>
