
<?php echo $this->image('images/birthday.gif', _BIRTHDAYHAPPY, array('class'=>'align-center')) ?><br /><br />

<?php if (!($this->blockheight == 0 || count($this->items) <= 5)): ?>
<div style="height: <?php echo $this->blockheight ?>px; overflow: auto;">
<?php endif; ?>

<ul class="list">
<?php foreach ($this->items as $key => $item) : ?>
  <li><?php echo $item['uname'] ?>: <?php echo $item['userage'] ?> <?php echo _BIRTHDAYYEARS ?></li>
<?php endforeach ?>
</ul>

<?php if (!($this->blockheight == 0 || count($this->items) <= 5)): ?>
</div>
<?php endif; ?>

<?php // $Id: block-Birthday.html 6 2015-07-08 07:07:06Z PragmaMx $ ?>