

<textarea cols="<?php echo $this->cols ?>" rows="<?php echo $this->rows ?>" name="<?php echo $this->name ?>" id="wysid-<?php echo $this->name ?>" class="wysiwygarea" style="overflow:auto;display:block;height:<?php echo $this->height ?>;width:<?php echo $this->width ?>;"><?php echo $this->value ?></textarea>

<script type="text/javascript">
/*<![CDATA[*/

CKEDITOR.replace('wysid-<?php echo $this->name ?>', {
<?php /* dazu gehörige Konfigurationsdatei */ ?>
  customConfig : '../config.js.php',

width: '<?php echo $this->width ?>',
height: '<?php echo $this->height ?>',


  /* Load the interface language. */
  // language: '<?php echo $this->lang ?>',
  contentsLangDirection: '<?php echo $this->langdirection ?>',
  skin: 'kama',
  // skin: 'office2003',
  extraPlugins: 'stylesheetparser',
  /*
   * Stylesheet for the contents.
   * TODO: Pfad anpassen $this->editor_path
   */
  contentsCss: 'includes/wysiwyg/ckeditor/editor/_samples/assets/parsesample.css',
  /* Do not load the default Styles configuration. */
  stylesSet: [],
  coreStyles_bold: {
    element: 'span',
    attributes: {
      'class': 'Bold'
    }
  },
  coreStyles_italic: {
    element: 'span',
    attributes: {
      'class': 'Italic'
    }
  },


  //filebrowserBrowseUrl: 'includes/filemanager/kcfinder/manager/browse.php',
  filebrowserBrowseUrl: 'includes/filemanager/c5/manager/index.php',

  filebrowserWindowWidth : '640',
  filebrowserWindowHeight : '480'
  
});
/*]]>*/
</script>


<?php /* pragmaMx CVS $Id: normal.template.html 6 2015-07-08 07:07:06Z PragmaMx $ */ ?>