<section id="featured" class="mt0 ptl pbl">
    <div class="mw1140p center">
        <div class="row">
            <div class="col w33 pll prl">
                <p>PragmaMx est un CMS (Content Management Systems) d'origine allemande développé depuis 2005 et distribué gratuitement sous licence Open Source GNU/GPL.<br />
                    Notre logiciel permet &agrave; tous les utilisateurs (m&ecirc;me novices) de cr&eacute;er tr&egrave;s facilement des sites internet de qualit&eacute; professionnelle, en intranet, communautaires, portails d'entreprises ou associatifs, weblog, clans, etc... 
                    .<br />PragmaMx est une système léger, sécurisé et éprouvé intégrant les toutes dernières technologies du web. Plus qu'un simple CMS, vous profiterez de multiples fonctionnalit&eacute;s innovantes et des modules exclusifs dédiés.
                </p>
            </div>
            <div class="col w40 pll">              
                <p class="mbl">
                    <a class="awe green uppercase big" target="_blank" href="http://www.pragmamx.org/Downloads-pragmaMx-V-zwei-dot-null-BETA-get-866.html">
                        <i class="fa fa-download fa-2x"></i>  T&eacute;l&eacute;charger pragmaMx | 2.0 (Beta)
                    </a>
                    <br/>
                    <a style="color: #999;"target="_blank" href="http://www.pragmamx.org/Downloads-pragmaMx-category-61.html"> T&eacute;l&eacute;charger pragmaMx | 1.13 (Stable)</a>
                </p>
                <ul class="unstyled">
                    <li></li>
                    <li><a class="large awe" href="/Content-Descriptif-de-pragmaMx-item-2.html">Pr&eacute;sentation</a></li>
                    <li><a class="large awe" target="_blank" href="http://demo.pragmamx.org/">D&eacute;monstration</a></li> 
                </ul>
            </div>
        </div>
    </div>
</section>