<section id="partners" class="ptl pbl">
    <div class="mw1140p center">
        <div class="carousel-wrapper">
                <ul data-carousel='{"random":true,"pauseOnHover":true,"width":236,"height":80,"keepProportions":true,"keyNav":true}'>
                    <li><a href="http://www.php.net"><img src="<?php echo MX_THEME_DIR ?>/images/partners/php.png" /></a></li>
                    <li><a href="https://www.mysql.fr"><img src="<?php echo MX_THEME_DIR ?>/images/partners/mysql.png" /></a></li>
                    <li><a href="http://jquery.com"><img src="<?php echo MX_THEME_DIR ?>/images/partners/jquery.png" /></a></li>
                    <li><a href="http://phpsavant.com"><img src="<?php echo MX_THEME_DIR ?>/images/partners/savant3.png" /></a></li>               
                    <li><a href="http://www.w3.org"><img src="<?php echo MX_THEME_DIR ?>/images/partners/css3.png" /></a></li>
                    <li><a href="http://www.w3.org"><img src="<?php echo MX_THEME_DIR ?>/images/partners/html5.png" /></a></li>
                    <li><a href="http://sourceforge.net"><img src="<?php echo MX_THEME_DIR ?>/images/partners/sourceforge.png" /></a></li>
                    <li><a href="http://www.knacss.com"><img src="<?php echo MX_THEME_DIR ?>/images/partners/knacss.png" /></a></li>
                    <li><a href="http://getbootstrap.com"><img src="<?php echo MX_THEME_DIR ?>/images/partners/bootstrap.png" /></a></li>               
                </ul>
            </div>
    </div>
</section>