
<h2 style="margin-top: 0"><?php echo _SECLOGTITLE ?></h2>

<table class="form full list" style="margin: 0">
  <tbody>
    <tr>
      <td><?php echo _SECLOGTIME ?></td>
      <td><?php echo mx_strftime(_XDATESTRING, $this->log_time) ?></td>
    </tr>
    <tr>
      <td><?php echo _SECLOGLOG ?></td>
      <td><?php echo $this->log_event ?></td>
    </tr>
    <tr style="vertical-align: top">
    <?php if($this->data){ ?>
      <td><?php echo 'Request' ?></td>
      <td>
        <?php foreach ($this->data as $key => $item) { 
          if ($key == 'pass' || $key == 'pwd') {
              $item = str_repeat('*', strlen($item));
          } ?>
          <pre><?php echo $key, ' => ', $item, PHP_EOL ?></pre>
        <?php } //endforeach ?>
      </td>
    <?php } //endif 
     if($this->entry){ ?>
      <td colspan="2">
        <?php echo 'Eintrag' ?><br>
        <textarea style="height: 20em; width:100%"><?php echo $this->entry ?></textarea>
      </td>
    <?php } //endif ?>
    </tr>
    <tr>
      <td><?php echo _SECLOGIP ?></td>
      <td><?php echo $this->log_ip ?></td>
    </tr>
    <tr>
      <td><?php echo _SECLOGADMIN ?></td>
      <td><?php echo $this->aid ?></td>
    </tr>
    <tr>
      <td><?php echo _SECLOGUSER ?></td>
      <td><?php echo $this->uname ?></td>
    </tr>
  </tbody>
</table>


<?php /* pragmaMx CVS $Id: details.html 6 2015-07-08 07:07:06Z PragmaMx $ */ ?>
