<?php
/**
 * This file is part of
 * pragmaMx - Web Content Management System.
 * Copyright by pragmaMx Developer Team - http://www.pragmamx.org
 *
 * pragmaMx is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * $Revision: 6 $
 * $Author: PragmaMx $
 * $Date: 2015-07-08 09:07:06 +0200 (Mi, 08. Jul 2015) $
 *
 * Menumanager for pragmaMx, written by Siggi Braunert
 * bugfixed by Joerg & Andi
 **/
?>
<div class="alert alert-info">
  <?php echo $this->intro ?>
</div>
<?php echo $this->message ?>

<form action="<?php echo adminUrl(PMX_MODULE) ?>" method="post" class="form-inline">
	<input type="hidden" name="add_menu_form[id]" value="<?php echo $this->id ?>" />
	<div class="form-group">
        <label><?php echo _TITLE ?></label>
  </div>
  <div class="form-group mx-sm-3">
		  	<input class="form-control" maxlength="60" name="add_menu_form[title]" size="60" value="<?php echo $this->title ?>" placeholder="<?php echo _MX_MENU_ADDMENU_NAME_DESCR ?>" type="text" />
	</div>
        <button type="submit" class="btn btn-primary" name="add_menu_form[submit]"><i class="fa fa-plus fa-lg"></i>&nbsp;<?php echo _ADD ?></button>
</form>