<?php
/**
 * This file is part of
 * pragmaMx - Web Content Management System.
 * Copyright by pragmaMx Developer Team - http://www.pragmamx.org
 *
 * pragmaMx is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * $Revision: 6 $
 * $Author: PragmaMx $
 * $Date: 2015-07-08 09:07:06 +0200 (Mi, 08. Jul 2015) $
 *
 * Menumanager for pragmaMx, written by Siggi Braunert
 * bugfixed by Joerg & Andi
 **/
title(_MX_MENU_ADMIN) ?>
	<ul class="tabs-nav">
	<?php foreach($this->nav_item as $item) :?>
	<?php if ($this->nomenublocks === true && $item['title'] == _MX_MENU_ADDITEM) :?>
    	<li<?php echo $item['class']?>><a style="cursor:text"><?php echo $item['title']?></a></li>
   	<?php else :?>
   		<li<?php echo $item['class']?>><a href="<?php echo $item['url']?>"><?php echo $item['title']?></a></li>
   	<?php endif; ?>
   	<?php endforeach; ?>
  	</ul>
<div class="tabs-panel">
 	<?php echo $this->page ?>
</div>