<?php
/**
 * This file is part of
 * pragmaMx - Web Content Management System.
 * Copyright by pragmaMx Developer Team - http://www.pragmamx.org
 *
 * pragmaMx is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * $Revision: 6 $
 * $Author: PragmaMx $
 * $Date: 2015-07-08 09:07:06 +0200 (Mi, 08. Jul 2015) $
 *
 * Menumanager for pragmaMx, written by Siggi Braunert
 * bugfixed by Joerg & Andi
 **/
?>

<?php echo $this->message?>

<?php if(count($this->menus)): ?>
 
 <?php foreach($this->menus as $menu): ?>
  <div class="card">
    <div class="card-header">
          <?php echo $menu['title'] . (($menu['active']) ? '' : ' <strong>['._MX_MENU_NOTACTIVE.']</strong>') ?>
      </div>

<div class="card-body">

<div class="container">
  <div class="row">

    <div class="col-3">
		<div class="list-group">
			<a class="list-group-item list-group-item-action" href="<?php echo adminUrl(PMX_MODULE, 'add_menu/edit/' . $menu['bid']) ?>"><i class="fa fa-edit fa-lg"></i> <?php echo _MX_MENU_EDIT ?></a>
			<a class="list-group-item list-group-item-action" href="<?php echo adminUrl('blocks', 'Edit', array('bid'=>$menu['bid'], 'menu'=>1)) ?>">
			<i class="fa fa-cogs fa-lg"></i> <?php echo _MX_MENU_BLOCKSADMIN ?>
			<span class="badge badge-secondary"><?php echo ($menu['active'] != 1) ? _ACTIVATE : _DEACTIVATE ?> <?php echo _MX_MENU_FURTHERSETTINGS ?></span>
    </a>
    <a class="list-group-item list-group-item-danger" href="<?php echo adminUrl(PMX_MODULE, 'delete_menu/id,' . $menu['bid']) ?>"><i class="fa fa-trash fa-lg"></i> <?php echo _MX_MENU_DELETE ?></a>
    <a class="list-group-item list-group-item-action" href="<?php echo adminUrl(PMX_MODULE, 'add_item/' . $menu['bid']) ?>"><i class="fa fa-plus fa-lg"></i> <?php echo _MX_MENU_ADDITEM ?></a>
    </div>
    </div>
   <?php if(count($this->menu_items[$menu['bid']])>0): ?>
   <?php $_items = $this->menu_items[$menu['bid']]?>
   <div class="col-7">
    <table class="table">
		<thead>
			<tr>
				<th><?php echo _MX_MENU_ITEM ?></th>
				<th><?php echo _MX_MENU_ITEM_EXP_OPEN ?></th>
				<th><?php echo _MX_MENU_TARGET ?></th>
				<th><?php echo _MX_MENU_OPERATIONS ?></th>
			</tr>
		</thead>
		<tbody>
      <?php foreach($_items as $row): ?>
			<tr>
				<td><a href="<?php echo $row['url'] ?>" title="<?php echo $row['description'] ?>"><?php echo $row['title'] ?></a></td>
				<td><?php echo ($row['expanded']) ? _YES : '' ?>&nbsp;</td>
				<td><?php echo $row['target'] ?>&nbsp;</td>
				<td>
          <a class="btn btn-primary btn-sm" href="<?php echo adminUrl(PMX_MODULE, 'add_item/edit/'. $row['id']) ?>"><?php echo IMG_MXMENU_EDIT ?></a>
          <?php if($row['url'] != 'modules.php?name='.$this->main_module): ?>
				    <a class="btn btn-danger btn-sm" href="<?php echo adminUrl(PMX_MODULE, 'delete_item/id,'.$row['id']) ?>"><?php echo IMG_MXMENU_DELETE ?></a>
          <?php else: ?>
        </td>
				<td><?php echo IMG_MXMENU_HOME ?></td>
				<td>&nbsp;</td>
        <?php endif;?>
			</tr>
      <?php endforeach ;?>
		</tbody>
      </table>
      </div>

   <?php else: ?>
    <div class="alert alert-info"><?php echo _MX_MENU_ADDITEM_NOTDEF ?></div>
   <?php endif;?>

  </div>
  </div>
</div>
</div>
 <?php endforeach;?>

<?php endif;?>