
<textarea cols="<?php echo $this->cols ?>" rows="<?php echo $this->rows ?>" name="<?php echo $this->name ?>" id="<?php echo $this->name ?>" class="wysiwygarea" style="overflow:auto;display:block;"><?php echo $this->value ?></textarea>

<script type="text/javascript">
/*<![CDATA[*/
  $().ready(function() {

    var opts = {
      toolbar : 'normal',
<?php if($this->height): ?>
      height : <?php echo $this->height ?>,
<?php endif; ?>
<?php if($this->width): ?>
      width : <?php echo $this->width ?>,
<?php endif; ?>
<?php if($this->pagebreak): ?>
      panels : {'elements' : elRTE.prototype.options['panels']['elements'].concat(['pagebreak'])},
<?php endif; ?>
    }

    $('#<?php echo $this->name ?>').elrte(opts);
  })
/*]]>*/
</script>

<?php /* pragmaMx CVS $Id: normal.template.html 6 2015-07-08 07:07:06Z PragmaMx $ */ ?>
