/* pragmaMx CVS $Id: style.pmx.css 6 2015-07-08 07:07:06Z PragmaMx $ */ 

.el-dialogform form.ui-tabs {
   display: block;
}

.el-dialogform table {
   width: auto;
}

.elrte-image-preview {
   width: auto!important;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable {
   width: 600px!important;
}

.el-rte.el-fullscreen {
   z-index:1000;
}