
<?php
// guggen ob neuer Admin, oder Admin zum bearbeiten
$editmode = (strpos($this->action, 'edit') !== false);
?>

<form action="<?php echo adminUrl(PMX_MODULE, $this->action) ?>" method="post">

  <table style="margin: auto;" border="0" class="form full">
    <tr>
      <td><?php echo _NICKNAME ?>:</td>
      <td colspan="4">
        <?php if ($editmode) { ?>
          <b><?php echo $this->aid ?></b>
          <input type="hidden" name="aid" value="<?php echo $this->aid ?>" />
        <?php } else { ?>
          <input type="text" name="aid" value="<?php echo $this->aid ?>" size="30" maxlength="25" />
          <span class="tiny"><?php echo _REQUIREDNOCHANGE ?></span>
        <?php } ?>
      </td>
    </tr>

    <tr>
      <td><?php echo _NAME ?>:</td>
      <td colspan="4"><input type="text" name="name" size="40" maxlength="50" value="<?php echo $this->name ?>" /> <span class="required" title="<?php echo _REQUIRED ?>">*</span></td>
    </tr>

    <tr>
      <td><?php echo _EMAIL ?>:</td>
      <td colspan="4"><input type="text" name="email" size="40" maxlength="100" value="<?php echo $this->email ?>" /> <span class="required" title="<?php echo _REQUIRED ?>">*</span></td>
    </tr>

    <tr>
      <td><?php echo _URL ?>:</td>
      <td colspan="4"><input type="text" name="url" value="<?php echo $this->url ?>" size="40" maxlength="255" /></td>
    </tr>

    <tr>
      <td><?php echo _UALOGIN ?>:</td>
      <td colspan="4"><select name="autologin">
        <?php echo $this->useroptions ?>
      </select></td>
    </tr>
    
  <?php if ($this->isgod) { ?>
    <tr>
      <td><?php echo _PERMISSIONS ?>:</td>
      <td colspan="4"><b><?php echo _SUPERUSER ?></b><input type="hidden" name="radminsuper" value="1" /></td>
    </tr>

  <?php } else { ?>

  <?php 
  $cols = 4;
  $first = array_shift($this->adminprefs);
  $count = count($this->adminprefs);
  $rows = ceil($count / $cols);
  #$all = $rows * $cols;
  $parts = array_chunk($this->adminprefs, $cols, true);
  #mxDebugFuncVars($parts);
  #mxDebugFuncVars($cols,$rows,$count,$all,$first);
  ?>
  <?php foreach ($parts as $key => $row) { ?>
    <tr style="vertical-align:top">
    <?php if($key === 0) { ?>
      <td rowspan="<?php echo ($rows+1) ?>"><?php echo _PERMISSIONS ?>:</td>
    <?php } ?>
    <?php foreach ($row as $pref => $col) : ?>
      <td>
        <input type="checkbox" name="<?php echo $pref ?>" value="1"<?php echo (($col[0]) ? ' checked="checked"' :'') ?> />&nbsp;<?php echo $col[1] ?>
      </td>
    <?php endforeach ?>
    </tr>
  <?php } ?>
    <tr>
      <td nowrap="nowrap"><input type="checkbox" name="radminsuper" value="1"<?php echo (($first[0]) ? ' checked="checked"' :'') ?> /> <b><?php echo $first[1] ?></b></td>
      <td colspan="3"><p class="important tiny"><i><?php echo _SUPERWARNING ?></i></p></td>
    </tr>

  <?php } // isgod ?>

    <tr>
      <td><?php echo _PASSWORD ?>:</td>
      <td colspan="4">
        <?php echo $this->formPassword('pwd', NULL, array('size'=>'30')) ?>
        <?php if ($editmode) { ?>
          <span class="tiny"><?php echo _FORCHANGES ?></span>
        <?php } else { ?>
          <span class="required" title="<?php echo _REQUIRED ?>">*</span>
        <?php } ?>
      </td>
    </tr>

    <tr>
      <td><?php echo _RETYPEPASSWD ?>:</td>
      <td colspan="4">
        <?php echo $this->formPassword('pwd2', NULL, array('size'=>'30')) ?>
        <?php if ($editmode) { ?>
          <span class="tiny"><?php echo _FORCHANGES ?></span>
        <?php } else { ?>
          <span class="required" title="<?php echo _REQUIRED ?>">*</span>
        <?php } ?>
      </td>
    </tr>

    <tr>
      <td colspan="5">
        <input type="submit" value="<?php echo $this->caption2 ?>" />
      </td>
    </tr>
  </table>
  <input type="hidden" name="check" value="<?php echo $this->reqcheck ?>" />
  <input type="hidden" name="op" value="<?php echo PMX_MODULE ?>/<?php echo $this->action ?>" />
</form>

<?php
/* die Passwortfelder auf jeden Fall leeren, damit Browserdaten entfernt werden */
pmxHeader::add_jquery();
pmxHeader::add_script_code('$(document).ready(function(){$(\'input[type="password"]\').val("");});');

// $Id: form.html 6 2015-07-08 07:07:06Z PragmaMx $ äöüß
?>