<?php
$img_delete = '<i class="fa fa-trash fa-lg"></i>&nbsp;' . _DELETE;
$img_edit = '<i class="fa fa-edit fa-lg"></i>&nbsp;' . _EDIT;
?>

<table class="table table-striped">
  <thead>
    <tr>
      <th><?php echo _NICKNAME ?></th>
      <th><?php echo _NAME ?></th>
      <th><?php echo _UALOGIN ?></th>
      <th><?php echo _FUNCTIONS ?></th>
    </tr>
  </thead>

  <tbody>
    <?php
    foreach ($this->rows as $row) {
        $uname = ($row['uname'] && $row['user_stat'] == 1) ? $row['uname'] : '&nbsp;';
        $admdel = ($row['isgod']) ? '<span class="badge badge-warning">' . _MAINACCOUNT . '</span>': '<a class="btn btn-primary btn-sm" href="' . adminUrl(PMX_MODULE, 'delete', 'aid=' . $row['aid']) . '">' . $img_delete . '</a>';
    ?>
    <tr>
      <td><?php echo $row['aid'] ?></td>
      <td><?php echo $row['name'] ?></td>
      <td><?php echo $uname ?>&nbsp;</td>
      <td>
        <a class="btn btn-primary btn-sm" href="<?php echo adminUrl(PMX_MODULE, 'edit', 'aid=' . $row['aid']) ?>"><?php echo $img_edit ?></a>
        <?php echo $admdel ?>
      </td>
    </tr>
    <?php } ?>
  </tbody>
</table>

<?php // $Id: list.html 6 2015-07-08 07:07:06Z PragmaMx $ äöüß ?>