<?php
// ToDo: Die Textareas sollten mittels JavaScript
// eine (angezeigte = Restzeichen) Laengenbegrenzung haben (wie im SMF-Profil).

if (!MX_IS_ADMIN) {
    $this->infotext .= PHP_EOL . PHP_EOL . _ALLOWEDHTML . PHP_EOL  . ('&lt;' . implode('&gt; &lt;', mxGetAllowedHtml()) . '&gt;');
}
$this->infotext = nl2br(trim($this->infotext));

pmxHeader::add_jquery('jquery.autoresize.js', 'ui/jquery.ui.tooltip.js');
#mxDebugFuncVars($this);

?>

<?php if($this->infotext): ?>
<textarea cols="<?php echo $this->cols ?>" rows="<?php echo $this->rows ?>" name="<?php echo $this->name ?>" id="area-<?php echo $this->name ?>" class="wysiwygarea" style="overflow:auto;display:block;float:left;margin-right:0"><?php echo $this->value ?></textarea>
<input type="button" class="tooltip-info" id="tt-<?php echo $this->name ?>" title="<?php echo htmlspecialchars($this->infotext) ?>" style="float:left;" />
<div class="clear-left">
  <p id="it-<?php echo $this->name ?>" class="tiny" style="margin-top:.5em"><?php echo $this->infotext ?></p>
</div>

<?php else: ?>
<textarea cols="<?php echo $this->cols ?>" rows="<?php echo $this->rows ?>" name="<?php echo $this->name ?>" id="area-<?php echo $this->name ?>" class="wysiwygarea" style="overflow:auto;display:block;margin-right:0"><?php echo $this->value ?></textarea>

<?php endif; ?>

<script type="text/javascript">
/*<![CDATA[*/
<?php if($this->infotext): ?>
  $(document).ready(function() {
    $('#tt-<?php echo $this->name ?>').show().tooltip();
    $('#it-<?php echo $this->name ?>').hide();
  });
<?php endif; ?>

  $('textarea#area-<?php echo $this->name ?>').autoResize({
    // On resize:
    onResize: function() {
      $(this).css({
        opacity: 0.8
      });
    },
    // After resize:
    animateCallback: function() {
      $(this).css({
        opacity: 1
      });
    },
    // Quite slow animation:
    animateDuration: 300,
    // More extra space:
    extraSpace: 40
  });
/*]]>*/
</script>

<?php /* pragmaMx CVS $Id: template.html 6 2015-07-08 07:07:06Z PragmaMx $ */ ?>