
<div class="title" ><h2><?php echo $this->title ?></h2></div>
<div class="tiny"><a href="modules.php?name=<?php echo $this->module_name ?>" ><?php echo _DOCS_START; ?></a></div><hr />


<div class="postcontent"><b><?php echo _FRIEND ?></b></div>
<hr />
<div class="block">
<p class="title" ><?php echo $this->title ?></p> 
<p class="opentable" ><?php echo $this->text ?></p>
<?php echo $this->form ?>
</div>



<?php /* pragmaMx CVS $Id: view.friend.html 171 2016-06-29 11:59:03Z PragmaMx $ */ ?>