
<?php if ($this->message) { ?>
<div class="note"><?php echo $this->message ?></div>
<?php } 
echo $this->form('begin', array('id' => 'adminlogin', 'name' => 'adminlogin'));
echo $this->form('element', $this->elements['op']);
echo $this->form('element', $this->elements['check']);
echo $this->form('element', $this->elements['sess']);
echo $this->form('element', $this->elements['uri']);
echo $this->form('block', 'begin', _ADMINLOGIN);
echo $this->form('element', $this->elements['aid']);
echo $this->form('element', $this->elements['pwd']);
echo $this->form('element', $this->elements['submit']);
echo $this->form('end');

?>



<?php /* pragmaMx CVS $Id: loginform.html 390 2017-10-08 12:33:39Z pragmamx $ äöüß */ ?>