/* $Id: resizable.css 6 2015-07-08 07:07:06Z PragmaMx $ */

div.resizerWrapper {
   position: relative;
   width: auto;
}

div.resizerWrapper a.resizeBigger span, div.resizerWrapper a.resizeSmaller span, div.resizerWrapper a.resizeBiggerFont span, div.resizerWrapper a.resizeSmallerFont span {
   left: -9999px;
   position: absolute;
   top: -9999px;
}

div.resizerWrapper a.resizeBigger, div.resizerWrapper a.resizeSmaller, div.resizerWrapper a.resizeBiggerFont, div.resizerWrapper a.resizeSmallerFont {
   height: 14px;
   position: absolute;
   right: -25px;
   top: 5px;
   width: 12px;
}

div.resizerWrapper a.resizeBigger {
   background-image: url(./areaMore.png);
   right: 5px;
   top: -15px;
}

div.resizerWrapper a.resizeBiggerFont {
   background-image: url(./fontUp.png);
   right: 43px;
   top: -15px;
}

div.resizerWrapper a.resizeSmaller {
   background-image: url(./areaLess.png);
   right: 24px;
   top: -15px;
}

div.resizerWrapper a.resizeSmallerFont {
   background-image: url(./fontDown.png);
   right: 61px;
   top: -15px;
}

div.resizerWrapper textarea {
   width: 100%;
}

html div.resizerWrapper {
   margin-left: 0px;
}

#authForm div.resizerWrapper #contents {
   width: 100%! important;
}

